[2016-05-27 06:17] rburawes opened #1 "Chrome issue."
Hi Martin,

Thank you for this library.  I've successfully run this project and I can see that the notifications are being delivered to Firefox and Chrome.  I've just noticed that the payload has an issue with Chrome, the data in PushEvent is always null while in Firefox everything is ok.  Is there any modification that I need to do in for the payload to be delivered in Chrome clients too?

Cheers

[2016-05-27 18:47] martijndwars commented on #1
Hi Rae,

Thanks for opening the issue! Chrome did not support payload until version 50 which came out in April (my last commit was made before that). I need to investigate Chrome's support (it's explained really well [here](https://developers.google.com/web/updates/2016/03/web-push-encryption)) and check what is going wrong.

Martijn

[2016-05-28 07:10] rburawes commented on #1
Thank you for replying, if not mistaken the missing part of the implementation is the 'auth' must be used in creating PRK based on the link that you've given above.  I'll try to figure this out.  This library that you've created will help a lot of Java developers working on the same issue especially those new to encryption stuffs like me.

[2016-05-29 18:10] martijndwars commented on #1
I refactored the code in the [chrome](https://github.com/MartijnDwars/web-push/tree/chrome) branch. It works in Firefox and Chrome and allows payloads. I'll merge this into master and release to Maven Central next week.

[2016-05-30 08:06] martijndwars commented on #1
Merged into master and released to Maven. Please open a new issue if there is still a problem.

[2016-05-30 08:06] #1 closed, assigned to nobody

[2016-06-02 04:22] rburawes commented on #1
This is tested, everything works fine now. Thank you.

[2016-08-25 09:39] nikhil32 opened #5 "sun jdk support"
When I ran the encryption code with open jdk 1.8 it is all working fine. But when I am running  with sun jdk jdk1.8.0_20, it is  trowing following exception

[code]

[2016-08-25 12:02] nikhil32 opened #6 "too slow when compared to javascript version"
Hi,

When I try to encrypt in node js it is taking around 1ms to complete where are here it is taking about
700+ ms on java version in the same machine.

[2016-08-25 12:26] martijndwars commented on #6
Thanks for reporting this issue. The slowness is probably related to the cryptographic functions. Since these are part of third-party code (and possibly even related to Java primitives), optimising them becomes quite hard. Nevertheless, I'll look into it.

[2016-08-25 12:34] martijndwars commented on #5
Try adding the following code to your initialisation. This installs the BouncyCastle security provider:

[code]

[2016-08-25 12:36] nikhil32 commented on #5
I added it without which it's not even working

[2016-08-30 17:55] mohamedhafez opened #7 "VAPID support"
If this library could be updated to support VAPID, and the documentation updated to include an example, that would be great:)

[2016-08-30 20:49] thihara opened #8 "Documentation Improvements"
Just a few things that aren't clear at once by reading the documentation is what the PublicKey and userAuth are.

I believe userAuth is the key generated by the push messaging service from the browser side. Is the PublicKey somehow our public key?

Also please confirm that the PushService's default constructor is to be used with non-chrome browsers (Firefox at the moment.). Seem to be the case but

[2016-08-30 21:23] martijndwars commented on #7
Thanks for the suggestion, I'll look into VAPID this weekend and update the docs. 👍

[2016-08-30 21:30] martijndwars commented on #8
Both `userPublicKey` and `userAuth` are generated by the browser. More details can be found in the [specification](https://www.w3.org/TR/push-api/). Specifically, `userPublicKey` and `userAuth` correspond to the following two keys:

I use the following JavaScript code to send both keys to the server. Note that this snippet uses the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch

[2016-08-30 21:41] martijndwars commented on #8
Chrome's Push API uses Google Cloud Messaging (GCM) and GCM requires an API key on the server (and gcm_sender_id and manifest on the client, full setup instructions [here](https://developers.google.com/web/updates/2015/03/push-notifications-on-the-open-web)). As the Web Push Protocol matures Chrome will move towards using the Web Push Protocol and the API key will become superfluous. I'll update t

[2016-09-02 17:10] eliihen commented on #8
@MartijnDwars Thank you for the example of the javascript code, it saved me a lot of time. Recommend you put it in some documentation somewhere :)

However, could you please also post the way you parse the key serverside? I am doing the following, but no luck:

[code]

On the last line it throws the following:

[code]

I used your method of base64 encoding the key before sending it, and one examle

[2016-09-03 13:56] martijndwars commented on #8
Hi @esphen,

I first send the subscription to the server (i.e. the `endpoint`, `key`, and `auth` in [push.js](https://gist.github.com/MartijnDwars/c05c531e33e9b39452425b131c482c8f#file-push-js-L69)). When I need to send a notification, I retrieve the `key` and `auth` as follows. Note the `getAuthAsBytes` and `getUserPublicKey` methods (you'll probably be interested in the latter).

[code]

To send

[2016-09-03 17:37] eliihen commented on #8
Thanks! It seems to work as intended now.

@MartijnDwars would you be willing to merge a `doc` folder with a `UsageExample.md`, detailing how to use the library from the user agent, all the way to the backend? I could write a suggestion based on the information in this thread.

[2016-09-03 19:03] martijndwars commented on #8
Definitely. I'm open to PRs! :)

[2016-09-11 18:13] martijndwars commented on #7
Version 2.0.0 released with VAPID support.

[2016-09-12 07:06] xuwei-k opened #10 "missing 1.0.0 git tag"
Could you please push the tag? thanks.

[2016-09-12 07:24] martijndwars commented on #10
Yes, I will do so today.

[2016-09-12 20:12] martijndwars commented on #10
I've released version 2.0.0 with additional features (VAPID support). Does this solve your issue?

[2016-09-12 20:15] #7 closed, assigned to nobody

[2016-09-13 02:19] xuwei-k commented on #10
Thanks!

[2016-09-13 02:19] #10 closed, assigned to nobody

[2016-09-15 21:24] martijndwars opened #15 "Selenium tests"
We should use Selenium to run end-to-end browser tests. My work in progress is in the selenium branch.

[2016-09-24 15:10] martijndwars opened #17 "Check notification arrives"
Currently, the selenium tests only check that the endpoint accepts the push notification (201 status code). We can also check that the notification arrives in the browser and the message is as expected. For broadcasting from a service worker to a client, see [here](https://ponyfoo.com/articles/serviceworker-messagechannel-postmessage#broadcasting-from-a-serviceworker-to-every-client).

[2016-09-24 15:11] #17 closed, assigned to nobody

[2016-09-24 15:12] #15 closed, assigned to martijndwars

[2016-10-06 22:49] comp615 opened #18 "Update VAPID Support to meet spec"
https://tools.ietf.org/html/draft-ietf-webpush-vapid-01

They changed the format of the Authorization header. Looks like it should now be "WebPush aklsjdalksjdlkajsf" instead of Bearer.

Also according to this: https://developers.google.com/web/updates/2016/07/web-push-interop-wins crypto-key claims should be comma separated instead of semi-colon.

[2016-10-07 06:54] martijndwars commented on #18
Thanks for the heads up! I'll update and check browser compatibility in the following days. The semicolon, for instance, was necessary for Chrome (due to a bug Chrome only supported semicolons, and all other browser vendors accepted semicolon as well, though it is non-standard).

[2016-10-12 00:43] xuwei-k commented on #6
I think the cause is `SecureRandom.getSeed`
- https://github.com/MartijnDwars/web-push/blob/4b27d73b44c8/src/main/java/nl/martijndwars/webpush/PushService.java#L68
- http://stackoverflow.com/q/137212

[2016-10-12 10:43] martijndwars commented on #6
Hm.. sounds like we should factor out a `SaltProvider` such that you can plug in different implementation depending on your needs (RNG for highest security, PRNG for lesser security, or a constant for testing). I'll see what I can do.

[2016-10-25 06:56] manindrMBK opened #19 "response body is null in chrome push"
i am trying to use your new method of sending push using httppost, but the httpresponse is giving status code as 201 and body as null.
However when i use old way (using request and async) it gives proper response. Can you please help me with this?

Thanks

[2016-10-25 07:31] martijndwars commented on #19
Hi @manindr!

The HTTP 201 status code indicates "Created", i.e. it is a way for the push service to indicate that the push message has been accepted. Hence, a 201 response is expected and correct behaviour. I believe the body is also meant to be empty. The push service will then deliver the message to the user agent. Are you not receiving the push message at the user agent? If this is the case, h

[2016-10-25 08:53] manindrMBK commented on #19
Yes, i am receiving the notification. so this means that instead of response body i can use status code for result verification.

thanks for the explanation

[2016-10-25 09:05] martijndwars commented on #19
You're welcome!

[2016-10-25 09:05] #19 closed, assigned to nobody

[2016-10-26 06:42] manindrMBK commented on #6
hey @MartijnDwars , did you find any fix for this? facing the same problem .it takes more than 30 seconds for encryption.

//code
  logger.info("encrypting data at "+System.currentTimeMillis());
 Encrypted encrypted = encrypt(
                notification.getPayload(),
                notification.getUserPublicKey(),
                notification.getUserAuth(),
                notification.getPadSi

[2016-10-26 07:16] martijndwars commented on #6
@manindr what operating system and JVM are you using? It would help if I can reproduce the problem (on my MacBook with Oracle's HotSpot 1.8 it runs in the order of seconds). Thanks in advance!

[2016-10-26 07:18] manindrMBK commented on #6
CentOS 6.7 and java 8 on production
Ubuntu 15.10 and java 8 on local
funny thing is on my local system, it tales around 800 ms whereas on production it takes 30 seconds.

[2016-10-26 07:21] xuwei-k commented on #6
I think reproduce is too hard in local system. it depends on keyboard timings, mouse movements, etc
https://en.wikipedia.org/wiki/Entropy_(computing)

[2016-10-26 07:33] manindrMBK commented on #6
oh, okay. So ,what can i do to fix this, guys?

Thanks

[2016-10-26 07:56] martijndwars commented on #6
I don't have a clear answer to that yet. This library uses `SecureRandom` to generate a 16-byte seed. SecureRandom [reads from](http://security.stackexchange.com/a/40634/27289) `/dev/urandom` and `/dev/urandom` [will never block](https://tersesystems.com/2015/12/17/the-right-way-to-use-securerandom/), so that raises the question why it takes 30 seconds to generate a 16-byte seed. According to [thi

[2016-11-17 19:01] bschlief commented on #18
I was wondering how this issue was progressing.

[2016-11-18 08:52] martijndwars commented on #18
I changed the Authorization header to "WebPush .." instead of "Bearer .." I have not yet replaced the semi-colon by a comma. The change is easy to make, but I've not given it much priority.

May I ask, is this issue preventing you from using the library?

[2016-11-18 15:54] bschlief commented on #18
I haven't been able to send a VAPID push yet, and I thought perhaps this was the issue. I keep getting a response code of 400 with `Unauthorized Registration` as the message. I'll go double check everything and get back to you.

Thanks for the library and the quick response!

[2016-11-30 20:07] bschlief opened #20 "Unable to send web pushes: receive 400 - Unauthorized Registration"
I have a web app that is able to register subscriptions and send web pushes to chrome and firefox using node, but when I try to use those subscriptions with this library in java, I am getting `Unauthorized Registration`.

My test is below, which is modeled on [this test](https://github.com/MartijnDwars/web-push/blob/master/src/test/java/nl/martijndwars/webpush/PushServiceTest.java#L61-L87) in the

[2016-12-01 08:29] martijndwars commented on #20
Thanks for getting in touch. I don't have the time to look into this right now, but I'll try to look into it this weekend.

[2016-12-01 16:52] bschlief commented on #20
Awesome, I'll be around this weekend to answer any questions you might have as well. Thanks again.

[2016-12-05 04:09] bschlief commented on #20
Let me know if there's anything I can do to help track this down.

[2016-12-05 20:35] martijndwars commented on #20
Sorry, I didn't get to debugging this. Question: how did you request the subscription on the client side? I'm wondering if the public key that you used to request the subscription matches the key pair you use on the server side. I assume you followed [these](https://github.com/MartijnDwars/web-push/blob/master/doc/VAPID.md#client-side) instructions?

[2016-12-06 00:57] bschlief commented on #20
The methodology for creating the VAPID keys is per https://github.com/web-push-libs/web-push/#command-line

Here's a sample freshly created sample of the sort of key we're getting.

    16:02:49-bryanschlief~$ npm install web-push -g
    /usr/local/bin/web-push -> /usr/local/lib/node_modules/web-push/src/cli.js
    /usr/local/lib
    └─┬ web-push@3.2.1
      ├─┬ asn1.js@4.9.0
      │ ├── bn.js@4.1

[2016-12-06 23:39] bschlief commented on #20
So, on the recommendation of a brilliant coworker, I recreated the vapid keypair using methodology @MartijnDwars recommended explicitly :

https://gist.github.com/bschlief/0665d45c0368dcd5d7344221c1f6aa94

And those keys worked like a charm. So i'm closing this.

(here's the test I used that worked: https://gist.github.com/bschlief/3327c209bbe10dfd6cd79060b6ce78b7)

@MartijnDwars, I don't know if

[2016-12-06 23:39] #20 closed, assigned to nobody

[2016-12-08 20:51] martijndwars commented on #20
I'm happy you fixed it! It's still strange that keys generated by the JS lib don't work (keys should be independent of the tool that generated them). Hopefully this issue can help others until I've discovered what's causing this issue. Cheers!

[2016-12-08 22:33] bschlief commented on #20
I was also super surprised. If you need any more data in the future, I'm happy to help.

[2017-01-03 02:42] thihara opened #21 "Decryption Error in Firefox"
I've been trying to get the push notification running with your example usage code, with no luck.

The browser keeps throwing this error.

Any idea whats going on?

I used a node library to run a small server to make sure there's no issues in the client side. The issue seem to be in the client side.

When the push message is sent from the server side, I get a 201 http response.

[2017-01-07 06:58] ilanov commented on #18
Is this issue solved?
I'm using v2.0.0 (taken from maven repository) and while trying to send a push notification from my application server I get 400 with Unauthorized Registration. It works fine when pushing to chrome via https://web-push-codelab.appspot.com/.
I'll appreciate your response.

[2017-01-08 12:01] martijndwars commented on #18
The issue hasn't been resolved completely, but I doubt it is the cause of your error. I currently do not have the time to look into this. Over the next week, I'll setup a demo website to test whether everything still works.

[2017-01-09 17:36] bschlief commented on #18
@ilanov: Hi, I had an unexpected 400 with `Unauthorized Registration` problem too, which I had filed here: https://github.com/MartijnDwars/web-push/issues/20

In the end, creating the vapid keys using the openssl binary allowed my pushes to be accepted. Try that instead of one that you may have created via JS, and see if that helps. I was super surprised that it seemed to matter, but it has. I've

[2017-01-09 19:03] ilanov commented on #18
Thanks a lot bschlief.
It works like a charm!

[2017-02-21 05:57] abhisheksahani opened #22 "vapid"
for vapid do we need any license for commercial use

[2017-02-21 07:27] martijndwars commented on #22
VAPID (Voluntary Application Server Identification for Web Push) is a protocol by which an application server can voluntarily identify itself to a push service. There's no license associated to the use of VAPID.

[2017-02-21 09:16] abhisheksahani commented on #22
if i use vapid for web push notification then should server also register to fcm and get gcm key for sending web push notification

[2017-02-21 11:48] martijndwars commented on #22
No, when using VAPID, there is no need to register the server upfront.

[2017-02-21 21:46] #22 closed, assigned to nobody

[2017-02-22 14:23] abhisheksahani commented on #18
@bschlief i am also facing the same issue when i am using the vapid keys generated with node code in my java server i am getting 400 . can u please specify how to generate the vapid keys using open ssl

[2017-02-22 17:49] bschlief commented on #18
@abhisheksahani The vapid usage docs sheet in this repo describes it beautifully:

https://github.com/MartijnDwars/web-push/blob/master/doc/VAPID.md#generate-a-keypair

[2017-03-28 11:46] abhisheksahani opened #24 "Decrypting Web Push Payload"
Hi Martin,

so my use case i want to decrypt the webpush payload for automation. I have all keys server public private , and client p256dh and auth . how i will do that

[2017-03-28 14:53] martijndwars commented on #24
Note the following sequence of events:

1. The payload is encrypted on the server (by this library) and sent to the push service (e.g. Mozilla's Push Service).
2. The push service delivers the _encrypted_ payload to the browser.
3. Pushed messages are authenticated and decrypted by the browser before delivery to applications [[1]](https://tools.ietf.org/html/draft-ietf-webpush-protocol-01#page-6).

[2017-03-28 14:53] #24 closed, assigned to nobody

[2017-03-28 16:57] abhisheksahani commented on #24
that i know , in my use case i am not sending the push to chrome server (i am not hiting fcm api) , instead i am sending push to dummy server which is acting like chrome server now in that dummy server i want to decrypt the message .

[2017-03-28 21:42] martijndwars commented on #24
Ah, I get your question. I'm sorry, but I have no experience on decrypting the message.

[2017-04-19 19:59] Cyril-Engels opened #25 "Why is Async removed in this commit?"
I saw that in this commit you removed Async request.
https://github.com/MartijnDwars/web-push/commit/4737ed8b99a7a1a7cd5bf04e25fcf1082380fc7d

Could you please explain a little bit why it is removed? Thanks!

[2017-04-19 20:53] martijndwars commented on #25
The Async API was a bit harder to use (especially during debugging, when I had to inspect the output) and I wasn't sure anyone benefitted from the async part. If you want, I can refactor this in the next release?

[2017-04-25 20:43] Cyril-Engels commented on #25
That's true.
Synchronous is fine. It's probably better for batching requests to multiple users with Async.
But if you are free to do the refactor, that would be great.
Thanks!

[2017-05-07 01:50] #18 closed, assigned to nobody

[2017-05-07 01:50] #25 closed, assigned to nobody

[2017-05-16 18:52] gvieiradot opened #27 "Send data containing UTF-8 characters"
When I try to send a notification (using VAPID) with a payload that contains some UTF-8 characters like 'ç', the notification is sent and received by the end user, but with no data.

All the rest is working perfectly.

Thanks!

[2017-05-17 00:16] martijndwars commented on #27
Thanks for creating the issue! That's a serious bug, but it should not be too hard to fix. I'll try to fix this over the weekend.

[2017-05-18 07:30] hzr commented on #6
I can confirm that this works. Thanks Martijn!

[2017-05-19 09:42] xuwei-k opened #29 "support Urgency"
https://tools.ietf.org/html/rfc8030#section-5.3

[code]

[2017-05-20 03:19] martijndwars commented on #27
Are you sure the problem is with UTF-8 characters? I.e. does a message without UTF-8 characters arrive correctly? Which browser were you using?

I just tried sending a push message with `ç` and the browser received the message successfully (tested with the stable, beta, and unstable versions of Chrome and Firefox).

[2017-05-20 17:50] gvieiradot commented on #27
Chrome version: 58.0.3029.110. (Desktop)
Yes, without `ç ã é..` characters the message data is sent.
With one or more utf-8 char the message is sent, but no data.
This is some of the messages I'm trying to send (Json string): `{"tag":"declined","reason":"Endereço não encontrado."}`

[2017-05-20 18:32] martijndwars commented on #27
I changed the Selenium tests to use your example as a payload (84096d96b2daed7266dcb95f731622a24c52b58e). Travis is running this against Chrome 58, 59, 60 [now](https://travis-ci.org/MartijnDwars/web-push/builds/234377544). I suspect that there's an external variable (e.g. default charset) that is different on your system. I'll need to dig a bit deeper to see what's going wrong.

[2017-05-20 18:44] gvieiradot commented on #27
I'll make a test later to try to isolate the problem.
I'll post the result.

[2017-05-20 21:05] martijndwars commented on #29
Thanks, I'll add support in the next weeks.

[2017-05-22 12:55] mathikumar-c-3815 opened #30 "Generating VAPID Keys"
Hi,

Your libs are excellent to learn for web push in java.

My requirement is sending push messages without GCM ,FCM ,etc... Without application server key when i try to subscribe in client side i am getting below error message.

app.js:57 Unable to register service worker. DOMException: Registration failed - missing applicationServerKey, and manifest empty or missing

So  I have generated VAPID

[2017-05-22 22:38] yaronshahverdi commented on #5
Any update on this issue? I've added the code snippet to add the BouncyCastleProvider but I'm still receiving the same exception: `java.security.InvalidKeyException: Not an EC key: ECDH`

[2017-05-23 05:26] martijndwars commented on #30
Did you read [this](https://github.com/MartijnDwars/web-push/blob/master/doc/VAPID.md#generate-a-keypair) document? It explains how to generate a keypair using openssl, how to encode the public key for use in your frontend (i.e. for PushManager.subscribe), and how to load it into your Java application that uses this library.

[2017-05-23 05:42] martijndwars commented on #5
Sorry, no update. I can spend some time on this next weekend, but since I'm not able to reproduce the problem it's very hard to debug. What is your setup (operating system, Java runtime, etc)?

[2017-05-23 11:04] mathikumar-c-3815 commented on #30
@MartijnDwars R Thanks for the prompt reply. It is working perfectly when i generate VAPID keys using openssl :-) . But in my use case i need generate VAPID keys in java then subscribe with public key which i generated in java  and push messages from my application server using java.

[2017-05-23 18:04] yaronshahverdi commented on #5
Thank you Martijn! I'm running on Mac, Java 1.8 in a Spring application. It's happening on the pushService.send(notification) call.

[2017-05-25 04:58] martijndwars commented on #5
If I recall correctly, Sun's implementation of Java Cryptography Extension (JCE), which is included in the JDK, does not support ECDH. That's the reason I added a dependency on BouncyCastle; they do provide the necessary encryption.

From the stack trace I infer that it is using Sun's implementation instead of BouncyCastle's implementation. I cannot explain why this is happening. Could you try to

[2017-05-25 17:01] gvieiradot commented on #27
Yep, you're right!
Tested on my linux server, the data is sent!
On my PC don't..
It's a Windows 7, JDK 1.8, lang pt-br;
Anyways thanks for the help!

[2017-05-26 21:54] yaronshahverdi commented on #5
The highest priority I was able to give the BouncyCastleProvider without crashing my app was 5, and I still received the same exception :/. It still came before the JCE provider.

For reference, here's the result I get from the Security.getProviders() call:
![screen shot 2017-05-26 at 2 52 43 pm](https://cloud.githubusercontent.com/assets/6818391/26513917/3cea8762-4223-11e7-9672-0ec654ef9dc4.png)

[2017-05-27 00:37] martijndwars commented on #5
I did the same check and I get a similar result. It's not necessarily bad that it first tries Sun's implementation. In fact, that's what happens on my machine as well. While stepping through the code, the `InvalidKeyException: Not an EC key: ECDH` is thrown as well, but the `KeyAgreement` class [catches the exception](https://github.com/frohoff/jdk8u-jdk/blob/master/src/share/classes/javax/crypto/

[2017-05-29 03:43] martijndwars commented on #30
Ah, right. In that case, you can use `Utils.savePublicKey` to convert your Java-generated PublicKey to a `byte[]`. This `byte[]` is then passed to the `PushManager.subscribe` method.

It may be more convenient to base64 encode the `byte[]` in Java and base64 decode the string in JavaScript. For example, after generating the keypair in Java:

[code]

Then in JavaScript:

[code]

[2017-05-29 03:43] #30 closed, assigned to martijndwars

[2017-05-29 04:49] mathikumar-c-3815 commented on #30
Great!!!!. It is working exactly what i have expected.

Thanks a lot.

Regards
Mathikumar

[2017-06-07 21:30] yaronshahverdi commented on #5
Found out the issue was that the JCE could not authenticate the BouncyCastleProvider, even when explicitly adding the provider via `Security.addProvider(new BouncyCastleProvider())` or `Security.insertProviderAt(new BouncyCastleProvider(),1)`.

The solution that worked for me can be found here: https://stackoverflow.com/a/17400821, which was to manually add the BouncyCastle jars to the directory:

[2017-06-08 01:30] martijndwars commented on #5
I came across this issue as well when I created a fat JAR (a.k.a. uber JAR, shadow JAR). The BouncyCastle JAR is signed and if you create a fat JAR the contents of the BouncyCastle JAR are extracted and put in the fat JAR which breaks the signature. I suspect something similar was happening to you.

When I realised this I [updated](https://github.com/web-push-libs/webpush-java/commit/184c34bec98e2

[2017-06-09 18:30] yaronshahverdi opened #32 "Chrome notifications not using registrationId anymore?"
I noticed in this commit: https://github.com/web-push-libs/webpush-java/commit/64baebcf6bb0d7ce5a6e6d97110095362c72dd94#diff-635c01aada177ec436f99d8e16a73972 that for Chrome notifications, the POST body being sent is no longer the same as it was before, which was:
`{
    "registration_ids": [...],
    "raw_data": .....
}`

Is this intended behavior? I've read that the entire body might need to be

[2017-06-09 20:17] martijndwars commented on #32
The Web Push protocol has been going through a lot of changes. For a long time Chrome used a non-standard protocol. The POST body you refer to is part of this non-standard protocol. Since version 52 Chrome is compatible with the standard Web Push protocol, which relies on VAPID for server identification. This is the preferred approach nowadays.

You probably created the subscription (by calling `p

[2017-06-09 20:52] yaronshahverdi commented on #32
Ah, that makes sense! I didn't realize the new protocol allows the endpoint to be used directly, so I was still using the old GcmNotification class, which had previously hard-coded the GCM endpoint without the registrationId, which is why I was getting the MissingRegistration error.

Thanks for the quick and helpful info Martijn!

[2017-06-09 20:52] #32 closed, assigned to nobody

[2017-06-10 03:57] martijndwars commented on #32
You're welcome! Also note that the new protocol is more uniform. Previously you had to create a web app manifest that listed your `gcm_sender_id` that was connected to a Google Developer Project in GCM to get web push working in Chrome. All of this is no longer necessary with VAPID.

@gauntface did a great job documenting this at https://web-push-book.gauntface.com/chapter-06/01-non-standards-brow

[2017-06-12 21:31] pradeepprajapat commented on #20
@bschlief I am implementing push notification using web push lib in javascript and java. When I test application with https://web-push-codelab.appspot.com/ notifications works fine. But same keys as on https://web-push-codelab.appspot.com/ are not working if I am generating notification from java code.

I also tried using VAPID keys generated by openssl as described above, still getting error: 400

[2017-06-13 17:51] martijndwars commented on #20
Most likely, the keys you're seeing on https://web-push-codelab.appspot.com/ are encoded differently. If you need assistance, please open a new issue so we can keep discussions separated.

[2017-06-13 17:52] hawlik commented on #6
I can confirm that this work as well :)
I have installed haveged and stick with `/dev/random`. Now encryption tooks less then 10ms on average

Thanks Martijn,  really appreciate your effort!

[2017-06-13 18:21] pradeepprajapat commented on #20
I generated keys using openssl, and restarted application several times. It solved the issue. Thank you @MartijnDwars  for your help.

[2017-06-13 23:22] martijndwars commented on #6
Thanks for the feedback. I'll add a note to the README for future users and close this issue once that's done.

[2017-06-14 15:43] #6 closed, assigned to nobody

[2017-06-20 21:57] xbranko opened #33 "not working in Chrome"
Following [the article about sending web push notifications](https://developers.google.com/web/fundamentals/getting-started/codelabs/push-notifications/) I managed to make it work in both Chrome and Firefox browsers. Using the webpush-java I managed to make it send notifications to Firefox, but not to Chrome. When sending to Chrome, I am getting return code 400 UnauthorizedRegistration.

The web s

[2017-06-20 23:24] martijndwars commented on #33
Can you share the Java code that you use to send the notification?

[2017-06-20 23:43] xbranko commented on #33
Here is the simplified version of the class (that is part of a much bigger system) used for sending browser push notification.
[code]

[2017-06-22 14:59] martijndwars commented on #33
I tried to reproduce your problem with the latest version of this library, but was unable to do so. I took the following steps:

1. I used the [push companion website](https://web-push-codelab.appspot.com/) to generate a public and private key (`BLzPK96e2_tX5pE9HA9D6j_H1fkZi3yEgpG1HGifioFtM1wWSoJBcV7vWAsXzIVngaVAm5lmnD2TwvF46ouYx0M` and `GtGG-dCPNMi5nTw2jwsvHnTIGIeQudJW26uIoYgglDs`).
2. I configur

[2017-06-28 08:21] bohdaq opened #34 "http wrapper"
Hey @MartijnDwars,

I've made a [small http wrapper](https://github.com/bohdaq/Web-Push-Microservice) over your library for own needs, but thought it may be useful for other folks.

Cheers,
Bogdan

[2017-06-29 15:20] martijndwars commented on #34
Hey!

Cool to see that people are building stuff on top of this library! Also good to see that you got everything working (e.g. configuring BouncyCastle, generating and encoding the keypair, using the API). Was it a hassle to set this up/were the instructions clear enough?

Cheers,

Martijn

[2017-06-29 18:54] bohdaq commented on #34
Martijn,

I was using [this tutorial](https://developers.google.com/web/fundamentals/getting-started/codelabs/push-notifications/) to get it running, also found one issue about [missing function declaration](https://github.com/GoogleChrome/push-notifications/issues/46).

It took me some time to understand all technical details, but then all became clear.

So far everything works pefectly

[2017-07-05 20:56] #34 closed, assigned to nobody

[2017-07-13 06:42] trashhead opened #35 "key spec not recognised"
Hi

I'm having trouble getting this to work.
I have generated keys with the help of:
C:\Proj\git\webpush-java>java -jar build/libs/web-push-3.0.0-all.jar generate-key
PublicKey:
BMU04E2PG6WEPFNpNjdm2axI-tPkBwIgEP60WVRy9-fgCKvPC7U1DA02XaPG9-Iwj_l6EnHo9zbW-aNhNO8BLDk=
PrivateKey:
G5yq2I6-xwK2pRizUFznueDbYm-DNgkHfWB4DqqS9Pc=

And in my java code I try to do:
String publicKey = "BMU04E2PG6WEPFNpNjdm2a

[2017-07-13 11:33] trashhead commented on #35
I found this stackoverflow thread: https://stackoverflow.com/questions/36252742/wildfly-10-bouncycastlecrypto-ecdsa-key-spec-not-recognized. His solution was to add this to jboss-deployment-structure.xml:

[code]

And it works ! :)

[2017-07-13 11:34] #35 closed, assigned to nobody

[2017-07-13 15:22] martijndwars commented on #35
The problem is that BouncyCastle's JARs are signed, which prevents you from including the contents of the JAR in your project (i.e. you need to put the JAR itself on your classpath, not its contents).

I've had a lot of trouble with this myself, but there is little I can do since the solution depends on the way you package and deploy your application (and thus is different for everybody). Hopefull

[2017-07-17 13:08] trashhead opened #36 "Seems like service worker event.data is null if for example the character å is in the payload"
Don't know if it is the library or the push api or something else. But at least when having the character å in the payload, the data property on the event becomes null. Would assume the same goes for all three umlauts åäö. If I Base64 it before sendoff it works.

[2017-07-17 16:50] martijndwars commented on #36
This is probably a bug in this library, as we've seen this problem before (#27). How do you invoke the this library? Are you using [this](https://github.com/web-push-libs/webpush-java/blob/fd1f3911b9d23f331bc45e5b1f0c5b2422475648/src/main/java/nl/martijndwars/webpush/Notification.java#L52) constructor, instead of passing along the raw bytes yourself to [this](https://github.com/web-push-libs/webpu

[2017-07-18 06:16] trashhead commented on #36
Not quite sure I understand you but this is my code:

[code]

[2017-07-18 16:58] martijndwars commented on #36
Under the hood this library calls `getBytes` on your string. It uses the platform's default charset to encode the string, which may not be UTF-8. Could you try changing

[code]

to

[code]

this would tell if the charset is the issue.

[2017-07-20 15:34] martijndwars commented on #36
Just noticed there are [more](https://github.com/web-push-libs/webpush-java/blob/master/src/main/java/nl/martijndwars/webpush/HttpEce.java#L39-L42) occurrence sof `getBytes` without specific character encoding. I'll create a patch for this.

[2017-07-30 02:21] #36 closed, assigned to nobody

[2017-07-30 02:22] #27 closed, assigned to martijndwars

[2017-08-29 14:20] askondro commented on #33
I did the exact procedure you described here but I'm getting:
"key spec not recognised"

Mind you, in v3.0.0 PushService.setPrivateKey and setPublicKey only accept PrivateKey and PublicKey objects so I had to pass them in the PushService contructor. Everything in the code is the same as in yours.

The exception occurs while executing:

`PushService service = new PushService(publicKey, privateKey,

[2017-09-05 08:24] Famberlin opened #37 "HttpEce.buildInfo(...) possible Nullpointer"
Hi there,
in `HttpEce.deriveKey(...)` method you have following flow:

[code]
and in buildinfo method you have immediately:
[code]

so it seems that the only way to Not get NullPointer is to have key == null && dh != null,
so first & third conditions will never work anyway, and in code key is indeed passed as null when used.
Maybe I'm missing a bigger picture here?

[2017-09-06 04:31] martijndwars commented on #37
You're right, I wonder why this NPE did not pop up earlier. Were you actually confronted with an NPE?

Note that the HttpEce standard and WebPush standard are two separate standards. WebPush depends on HttpEce, but there may be an error in our implementation of HttpEce that does not affect WebPush. Nevertheless, I'd like to thank you for opening the issue, this is something we should fix.

[2017-09-06 07:42] Famberlin commented on #37
I was just rewriting your library to kotlin so this stuff highlights rather quickly. No NPE for webpush was due to usage in library:
[code]
that way you always get null passed for key. By the way, I did not look deeply into the standart, but does "server-key-id" play any role for webpush or it is just a part of HttpsEce standard that is not used for WebPush?

[2017-09-07 02:48] martijndwars commented on #37
First, let me get back at the NPE. The HttpEce implementation is based on [draft-ietf-httpbis-encryption-encoding-02](https://tools.ietf.org/html/draft-ietf-httpbis-encryption-encoding-02#section-3.2), but as you can see the optional `context` string has been dropped since [draft-ietf-httpbis-encryption-encoding-04](https://tools.ietf.org/rfcdiff?difftype=--hwdiff&url2=draft-ietf-httpbis-encryptio

[2017-09-07 07:43] Famberlin commented on #37
Yes, you are right, in my case it looks like this:
[code]
in case of Java you just add 2 checks(allocation and put).

[2017-09-11 06:34] David740 opened #38 "Service workers Push event is not triggering"
I have used the same API and procedure to sent notification , I am able to send notification successfully with response code 200, but still push event is not happening on receiving notification.

` {
  auth:"hcQQq+1FeDuSu7V0zd5DXA=="
  endpoint:"https://fcm.googleapis.com/fcm/send/
  cXgp0l3svNo:APA91bG8dDfZhrc0iaSyzvuV1BvnxXz9T-
  SmLCKOymKrEdwvrh0_SjzjnU3ORRKvW5QD-
  Zp196T5nAGPayR7EKu_Bkb0pQrSe

[2017-09-26 12:24] aro opened #40 "Random number generation slow in Docker"
We are using this library on an app that runs in a Docker instance. We noticed that the random number generation used for the salt can be very slow and block the execution for up to 5 minutes, just to generate the 16 bytes.

The problem is with this line in PushService:
[code]

Is there any specific reason to use `getSeed()` ?

Why not use nextBytes() instead? This random number generation is not

[2017-09-26 12:26] GlennRicaud commented on #40
+1

[2017-09-27 05:07] martijndwars commented on #40
Thanks for opening the issue. I've removed the comment I placed earlier today because it contained wrong assumptions. I was under the impression that `SecureRandom.getSeed` would be more secure, but I doubt this is actually the case. On top of that, using `SecureRandom.getSeed` is discouraged according to the API docs (it's only there for backwards compatibility).

Switching to `secureRandom.nextB

[2017-09-27 07:10] aro commented on #40
I created a [pull request](https://github.com/web-push-libs/webpush-java/pull/41).

Thanks for the fast response. And for the project, it's the best Web Push library in Java.
Bedankt 👍

[2017-09-30 21:08] martijndwars commented on #40
Thanks! I've merged the PR and released version 3.0.1.

[2017-09-30 21:08] #40 closed, assigned to nobody

[2017-10-11 13:56] mathikumar-c-3815 commented on #6
@MartijnDwars I tried using SecureRandom.getSeed in my QA setup which is running on CentOS Linux and java 8.  As like everyone encryption takes above 10s.

And I tried below code to generate securerandom as suggested by [link](https://tersesystems.com/blog/2015/12/17/the-right-way-to-use-securerandom/)

SecureRandom random = new SecureRandom();
        byte[] salt = new byte[16];
        random.ne

[2017-10-11 14:55] martijndwars commented on #6
This was fixed 12 days ago in #41. The issue should not appear in the latest version (3.0.1). Are you using the latest version?

[2017-10-11 16:09] mathikumar-c-3815 commented on #6
Thanks for the quick update @MartijnDwars
Sorry for not updating your library in our side.
We are using older version.Will update it to 3.0.1.

Again Thanks a lot for excellent library for web push.

[2017-10-18 16:31] patrickathompson commented on #33
I am also having the same issue. I have tested using the exact same encryption keys and subscription objects against the nodejs module vs this java library. I get the 400s in Chrome when using the java library.

*NodeJS w/ GC Subscription:*
[code]

*Java w/ GC Subscription:*
[code]

[2017-10-20 05:32] martijndwars commented on #33
Thanks for the report @patrickathompson. I did not find the time to look into this yet, but I will do so as soon as possible.

[2017-10-21 23:28] agustinbreit commented on #33
Same for me, I can't meka it work yet, I'm getting HTTP/1.1 400 UnauthorizedRegistration on each request

[2017-10-21 23:45] agustinbreit commented on #33
more information by testing chrome:
{"code": 401, "errno": 109, "error": "Unauthorized", "more_info": "http://autopush.readthedocs.io/en/latest/http.html#error-codes", "message": "Request did not validate Invalid Authorization Header"}

[2017-10-25 17:11] patrickathompson commented on #33
To be fair, it has worked for me in the past. At first, I thought it was something I was doing wrong, or the code my application was using. After following the steps @MartijnDwars mentions in his Jun 22nd post several times, I am getting intermittent results. Sometimes it works and sometimes it doesn't. It's also worth noting, that when it does work, it will always work, and when it doesn't work,

[2017-10-27 03:17] martijndwars commented on #33
This could be a problem with the keys (or the way we encode/decode them in Java code). I remember the NodeJS version had a problem when the base64 encoding needed padding. Thanks for the extra info, I'll look into this.

[2017-10-30 07:42] mathikumar-c-3815 commented on #21
@MartijnDwars I am also facing same problem.

Getting below exception from firefox browser console. But I am getting 201 response after pushing to mozilla server.

The ServiceWorker for scope ‘https://xxxxx.yyy.com/’ failed to decrypt a push message. For help with encryption, please see https://developer.mozilla.org/docs/Web/API/Push_API/Using_the_Push_API#Encryption . But at the same time it work

[2017-11-07 05:58] mathikumar-c-3815 commented on #21
@MartijnDwars Did you find out the issue in firefox? It is weird Web Push working in chrome and not in firefox :-( . Meantime we will also try to find out the encryption issue and update.

[2017-11-08 07:08] martijndwars commented on #21
I'm sorry, no progress here yet. When I know more, I'll leave a comment on the issue.

[2018-01-02 16:45] staticdkk opened #44 "Error when building"
Execution failed for task ':compileJava'.

I use java 8

[2018-01-02 21:17] martijndwars commented on #44
This is a problem with your Java installation and unrelated to this library. I see you're using JRE, but I expect you need the JDK to compile a Java program. Perhaps [this](https://stackoverflow.com/questions/11345193/gradle-does-not-find-tools-jar) post helps.

[2018-01-03 13:22] staticdkk commented on #44
thank you MartijnDwars

[2018-01-03 14:13] #44 closed, assigned to nobody

[2018-01-09 16:06] diogosantos opened #45 "Failing to deliver notifications to Google Chrome. Firefox works fine."
*removed example for legal reasons*

[2018-01-09 16:07] #45 closed, assigned to nobody

[2018-01-11 20:55] ArraisLF commented on #35
I'm having the same issue using Spring Boot and Maven. I've tried adding the jar to my jre and adding bouncycastle as a provider in java.security but I'm still getting the "key spec not recognized" error. I'm all out of ideas right now. @MartijnDwars Can you share some of your experience on your past troubles with this? Thanks in advance, looking forward to using your lib.

[2018-01-12 09:43] martijndwars commented on #35
I just created a fresh Spring Boot + Maven application using [Spring Initializr](https://start.spring.io/) and created a minimal example to send a push notification. You can find the code and usage instructions [here](https://github.com/MartijnDwars/spring-boot-web-push). Does this help?

[2018-01-13 23:48] ArraisLF commented on #35
Hey @MartijnDwars thanks for the quick reply. Your code worked just fine out of the box, but I'm not really sure why yours worked with no additional configuration and mine didn't. Right now my code is working after I removed bouncycastle dependencies from maven and downloaded them again, but I'm still absolutely lost as to why I was having that "key spec not recognised" problem. I'll try to reprod

[2018-01-15 10:28] martijndwars commented on #35
I guess this depends on how you package your application. Note that the Spring Boot Maven Plugin allows you to nest JARs, which is different from how Maven usually packages dependencies. Specifically, using the Spring Boot Maven Plugin, Maven creates a JAR that contains `bcprov-jdk15on-1.54.jar`, i.e. the BouncyCastle JAR itself (instead of its contents). As outlined in my [previous comment](https

[2018-01-29 22:33] thesawdoctor commented on #33
We have experienced almost the exact same situation as @patrickathompson. Three sets of keys, all work with the NodeJS lib, one set works consistently with the Java lib, the other two fail consistently with the Java lib.

I believe that the problem with our keys is arising from the use of ECDH as the algorithm to load the VAPID public key and private key. We have tested switching this to EC and fo

[2018-01-29 22:54] martijndwars commented on #33
Interesting. How did you generate these three keys?

[2018-01-30 03:00] thesawdoctor commented on #33
Two sets (one working, one not) were generated using the NodeJS web push library:
https://github.com/web-push-libs/web-push
The other belongs to a third party, I don't have information on how that set was generated. That set was not working.

[2018-02-01 14:07] desmethans commented on #33
When i make the VAPID keys with the node library, the c# library or on https://web-push-codelab.glitch.me/ my application works with he node library, the c# library but not with the java library (i get the problems mentioned above)

When i make the VAPID keys with openssl my application works with he node library, the c# library and also with the java library

[2018-02-01 20:46] martijndwars commented on #33
Ah, I figured out what is going wrong. What happens is that (1) the base64-encoded private key is converted to an array of bytes and (2) this array of bytes is converted to a BigInteger. However, during (2) the array of bytes is assumed to represent two's complement binary, but it actually represents unsigned binary.

I've released version 3.0.2 that fixes this issue. You can now use the keys from

[2018-02-02 09:45] #33 closed, assigned to nobody

[2018-02-06 13:57] dyogomedeiros opened #46 "Error 400 UnauthorizedRegistration"
I use this code:

[code]

And receive this answer:

[code]

[2018-02-06 15:35] martijndwars commented on #46
If you are using VAPID you should configure the public- and private key. The [spring-boot-web-push](https://github.com/MartijnDwars/spring-boot-web-push) repository contains an example on how to invoke the web push library. Specifically, [line 27 of SendController.java](https://github.com/MartijnDwars/spring-boot-web-push/blob/master/src/main/java/com/example/demo/SendController.java#L27) configur

[2018-02-14 10:58] johanvs opened #48 "NoSuchProviderException for "BC""
Hello,
When instanciating a PushService object, the line KeyFactory.getInstance("ECDH", "BC") in Utils.class throws a NoSuchProviderException for "BC".
Is it normal ?
Thanks.

[2018-02-14 13:19] johanvs commented on #48
Ok so as advised in [this post of stackoverflow](https://stackoverflow.com/questions/3711754/why-java-security-nosuchproviderexception-no-such-provider-bc) I added BouncyCastle as a security provider by adding : `Security.addProvider(new org.bouncycastle.jce.provider.BouncyCastleProvider());` before the creation, and now it works.

[2018-02-14 15:51] johanvs commented on #46
@MartijnDwars I call the `send` method like you, and I also get an Error 400 UnauthorizedRegistration.

[2018-02-14 15:59] johanvs commented on #46
May be a duplicate of [Issue 33](https://github.com/web-push-libs/webpush-java/issues/33).
I use version 3.0.2 and in Chrome I still have the problem.

[2018-02-14 17:50] martijndwars commented on #46
@johanvs can you create a minimal reproducible example (e.g. in a git repository)? If you follow the steps outlined in [spring-boot-web-push](https://github.com/MartijnDwars/spring-boot-web-push), does it work?

[2018-02-14 17:50] martijndwars commented on #48
Yes, that is indeed necessary. I'll reopen the issue so we can add this to the README.md.

[2018-02-14 19:08] johanvs commented on #46
Thanks a lot @MartijnDwars. thanks to your example I understood what was wrong with my code. After tests of changing keys, I did not updated the public key in the javascript file, and it was different from the server one. Now it works :-)

[2018-02-15 10:28] #48 closed, assigned to nobody

[2018-02-16 17:22] gianlucaUlivo opened #49 "proxy autentication with username and password dosnt'work"
if i configure the JVM parameter with
-Dhttp.proxyHost=proxy.test.it  -Dhttp.proxyPort=3128 -Dhttp.proxyUser=username -Dhttp.proxyPassword=passw
-Dhttps.proxyHost=proxy.test.it -Dhttps.proxyPort=3128 -Dhttps.proxyUser=username -Dhttps.proxyPassword=passw
but the autentication doesn't work.

the solution to work is:
HttpHost proxy = new HttpHost("proxy.test.it", 3128);
DefaultProxyRoutePlanner rout

[2018-02-16 21:34] martijndwars commented on #49
Hm, I have never tested a proxy with authentication. I'll look into this. In the meantime you could use the `preparePost` method that was added in 3.1.0 (released this morning). This returns the `HttpPost` that you can then use to make the request using the code you just posted.

[2018-02-17 19:59] gianlucaUlivo commented on #49
Can you post an example... 😬

[2018-02-17 21:25] martijndwars commented on #49
Well, using the code you suggested, it basically boils down to...

[code]

and then:

[code]

[2018-02-20 17:36] TechBall86 opened #50 "org.jose4j.lang.InvalidKeyException while pushing notification."
I'm getting a org.jose4j.lang.InvalidKeyException, when i'm trying to push a notification:

**Exception:**
[code]

**My Code:**
[code]

The work on the client side is done and it seems to be ok.
The keys are created with GenerateKeyCommand.java
I use localhost in my browser for tests.

What i am doing wrong?

Thx

[2018-02-21 09:12] martijndwars commented on #50
I don't really understand this error:

[code]

`org.bouncycastle.jcajce.provider.asymmetric.ec.BCECPrivateKey ` is a subclass of `java.security.interfaces.ECPrivateKey`, so the cast is an upcast. Since upcasting is always safe, you should never get a ClassCastException.

Could it be that you're using a different version of BouncyCastle? I see that in version 1.48, [BCECPrivateKey](http://www.atetr

[2018-02-23 10:05] martijndwars commented on #50
I took another look. For every BouncyCastle release there is an artifact targeting JDK 1.4 and an artifact targeting JDK 1.5 - JDK 1.8.

- In the version that targets JDK 1.4, the BCECPrivateKey class *does not* implement java.security.implementations.ECPrivateKey.
- In the version that targets JDK 1.5 - JDK 1.8, the BCECPrivateKey class *does* implement java.security.implementations.ECPrivateKey.

[2018-02-23 10:05] #50 closed, assigned to nobody

[2018-02-27 09:50] TechBall86 commented on #50
That solved my problem !

THX !

[2018-04-09 11:50] ihalilaltun commented on #46
@MartijnDwars we are facing the same error while we use GCM key (we can successfully send most of the notifications, but for some we are getting this error) , any thoughts what may cause the problem?

[2018-04-10 07:44] martijndwars commented on #46
Hi @ihalilaltun, things you could try:

- For those subscriptions that return an UnauthorizedRegistration, have you tried re-sending them (i.e. is this a consistent problem or intermittent problem?).
- To determine whether this is a bug in the java-library you could try to send a notification to one of these subscriptions with one of the other implementations, e.g. https://github.com/web-push-libs

[2018-04-10 08:14] ihalilaltun commented on #46
Hi @MartijnDwars, I do not try to re-send them, as indicated in documentation I am deleting these users :/ . I'll try re-sending to these users, but other than this do you have anything else in your mind to check?
By the way, I do not think this is bug in the library.

[2018-04-24 20:07] prasadlodha opened #52 "Error: A JNI error has occurred, please check your installation and try again"
Using Java on Ubuntu 16.04:
openjdk version "1.8.0_162"
OpenJDK Runtime Environment (build 1.8.0_162-8u162-b12-0ubuntu0.16.04.2-b12)
OpenJDK Server VM (build 25.162-b12, mixed mode)

Though the build was success but I am getting following error while executing the jar:
$java -jar webpush-1.jar generate-key
[code]
Please let me know if I am missing anything.

Thanks.

[2018-04-25 15:39] martijndwars commented on #52
How do you build the .jar? Make sure you run `./gradlew shadowJar` instead of `./gradlew assemble`. The latter does not package dependencies, which would explain the ClassNotFoundException that you're getting.

[2018-04-27 00:19] prasadlodha commented on #52
But I am building the .jar package using Maven. Have included the required dependencies in pom.xml

Also, if I try to comment the above JCommander part in main file for above error then I still get the same error for BountyCastle and so on.

[2018-04-27 06:14] martijndwars commented on #52
To generate the key pair you should follow the exact instructions. That is, run `./gradlew shadowJar` and then `java -jar build/libs/web-push-3.1.0-all.jar generate-key`. That way the JCommander classes end up in the shadowed JAR and you should not get the `NoClassDefFoundError`. Alternatively, you can skip this step and generate the key pair at [https://web-push-codelab.glitch.me](https://web-pus

[2018-05-03 08:24] ghys opened #53 "aes128gcm content encoding / MS Edge support"
Hi,
I tested sending a notification to MS Edge - already working in Chrome and Firefox - without success: the push server (`https://db5.notify.windows.com/w/?token=...`)  returns 400 Bad Request with no body.

After a quick check and according to https://github.com/web-push-libs/web-push-php/releases/tag/v4.0.0 it _appears_ to be because it requires the `aes128gcm` content encoding, `aesgcm` won't

[2018-05-03 09:52] martijndwars commented on #53
There were no plans, but I'd be happy to port this to the Java version once I find some time.

[2018-05-03 15:36] ghys commented on #53
After some further investigation, I managed to make Edge receive notifications. The Microsoft push server does in fact support `aesgcm`,

I'll leave my troubleshooting steps here for reference:
- the 400 Bad Request was my fault (I had replaced Apache HTTP Client by JAX-RS and was sending headers wrong, but not wrong enough to make Chrome and Firefox fail ;)), after fixing this there was a `401 Un

[2018-05-03 16:35] martijndwars commented on #53
Let's leave the issue open, aes128gcm should be supported at some point.

Are you saying Edge supports aesgcm, but only when you remove `keyid=p256dh;`? This sounds like something that needs fixing as well..

This is new to me, but sounds super useful. Thanks for sharing!

[2018-05-03 17:04] ghys commented on #53
Correct. I found out the notifications sent by the node library didn't include those and worked, and it was the only difference. I have also confirmed Google and Mozilla's servers are fine without it as well.

[2018-05-04 21:32] spinneret opened #54 "Send notifications to a large number of subscribers"
For sending notifications to multiple subscribers, I assume that we would have to create a single instance of PushService and many instances of Notification in a loop, is that correct?

If so, is it practical to send notifications to a very large number of subscribers using the above method? Are there any performance implications? Would this be highly memory or CPU intensive?

Would it make more s

[2018-05-06 15:08] martijndwars commented on #54
Correct.

I have no experience with sending messages to a large number of subscribers. If you find concrete ways to improve this library's performance I'd love to hear so. The bottleneck will probably in sending the messages to the browser vendors (Google, Mozilla, etc), so it's neither memory nor CPU intensive but rather I/O bound.

I cannot give you any advice on this front other than to try and

[2018-05-07 17:59] spinneret commented on #54
Thank you for your response! I will run it in a single batch initially and let you know if there are any issues with the code or suggestions to improve performance. Thanks again.

[2018-05-07 17:59] #54 closed, assigned to nobody

[2018-05-16 18:46] TorosyanV opened #55 "How can I pass Subscription.Keys to Subscription constructor if Keys is nested class?"
Maybe will be good to move
[code]
to Keys.java class

[2018-05-16 18:51] TorosyanV commented on #55
I can use

`OuterClass.InnerClass innerObject = outerObject.new InnerClass();`

But I think it's not a good pracites

[2018-05-17 07:36] martijndwars commented on #55
Thanks for your feedback! I created this as an inner class because I use Gson to deserialize a JSON string to a subscription. If I recall correctly, to deserialize a JSON string with nested objects Gson requires nested classes. I can check if this is still the case and refactor this if possible, but I don't consider this a big issue.

[2018-05-30 09:27] fatihcoskun79 commented on #53
We noticed a sudden increase of this `401 Unauthorized` error from microsoft endpoints yesterday. I assume that something changed that made the webpush feature available to a wider range of Edge users.

[2018-05-30 18:45] TorosyanV commented on #55
@MartijnDwars  In my scenario I'm saving keys in database and need to be manually set values.

[2018-05-30 18:47] GeorgeTailor opened #56 "Consider rewriting library API."
1) At the current state the library uses obsolete GCM;
2) API is not well written:

P.S.:
[code]
This is not flexible and is hard to read

[2018-05-31 06:12] martijndwars commented on #56
I'll take your feedback into consideration. If you are willing to work on this, I'd be happy to accept a PR that fixes these issues.

[2018-06-12 17:21] Tsyklop opened #58 "400 UnauthorizedRegistration"
use https://web-push-codelab.glitch.me/ for getting keys and your `sendPushMessage` method from **UsageExample**

I get `400 UnauthorizedRegistration` error.

Java code:

[code]

[code]

[code]
I`m not use `getKeyAsBytes` method because i get Exception `java.lang.IllegalArgumentException: Illegal base64 character 5f`

And I`m not use `getUserPublicKey` method because i get Exception `java.lang.Ill

[2018-06-13 12:53] fatihcoskun79 commented on #53
Is there any update on fixing this problem?

[2018-06-13 12:58] martijndwars commented on #53
Not from my side, sorry. I haven't had time to look into this yet.

[2018-06-19 07:15] fatihcoskun79 commented on #53
Is there a known downside to the fix described by @ghys ?

[2018-06-29 00:04] atilpaiMomentFeed commented on #21
Can you please get back onto this issue? I am getting a 201 created, but my browser cannot decrypt AES-GCM

[2018-07-01 12:52] arvindkumarc opened #59 "Couldnt build on Java 9/10"
The following method is not found and fails at runtime.

org.bouncycastle.util.BigIntegers.fromUnsignedByteArray

[2018-07-02 09:53] martijndwars commented on #59
Could you provide some more information, such as how you build the project and the error you get at runtime? Note that if your project has a dependency on webpush-java you _also_ need to include a dependency on BouncyCastle.

[2018-07-02 11:50] arvindkumarc commented on #59
[code]

are my gradle dependencies.

I'm using OpenJDK

[code]

I tried running it using a Unit Test, with BouncyCastle added as a SecurityProvider. But, I got the above error at runtime at line ` pushService.privateKey = Utils.loadPrivateKey(vapidPrivateKey)`

[2018-07-03 12:18] oxc commented on #53
See https://github.com/web-push-libs/web-push/issues/234 for removal from the Node.js library.

[2018-07-04 04:41] #53 closed, assigned to martijndwars

[2018-07-06 14:01] sherpc opened #61 "Version 3.1.1 not found in Maven"
Hello,

Could you please push latest version (3.1.1) to Maven?

https://mvnrepository.com/artifact/nl.martijndwars/web-push the last one is 3.1.0.

Thanks!

[2018-07-08 15:35] martijndwars commented on #61
Thanks for the heads up, fixed now: http://search.maven.org/#artifactdetails%7Cnl.martijndwars%7Cweb-push%7C3.1.1%7Cjar

[2018-07-08 15:35] #61 closed, assigned to nobody

[2018-07-10 16:51] jedi7 commented on #24
@abhisheksahani Did you found, how to decrypt it?

[2018-07-17 08:17] chrisprice commented on #49
For anyone using a proxy that doesn't support `UsernamePasswordCredentials`, the [Apache Http Client docs](https://hc.apache.org/httpcomponents-client-ga/tutorial/html/authentication.html) cover alternative authentication strategies.

[2018-07-17 12:49] martijndwars commented on #49
Thanks for the addition! I assume from your reply that this solution solves the original issue posted by @gianlucaUlivo, so I'm closing this.

[2018-07-17 12:49] #49 closed, assigned to nobody

[2018-08-09 18:19] tercioramalho opened #65 "key spec not recognized"
Hello.

I am trying to use webpush-java with a web page and I created a Java test application (Jar file) to try it. But I have a problem:

When I run the test in the Windows prompt I get success and a push notification in my workstation, but when I run the test in the CMS (Opencms - Tomcat) I get the error:

[code]

I think the problem is in the command:

[code]

Have you some suggestion to solve

[2018-08-13 06:57] martijndwars commented on #65
Did you add BouncyCastle as security provider?

[code]

[2018-08-13 14:37] tercioramalho commented on #65
Yes. I added the BouncyCastleProvider.

  The Opencms use the library: **cryptix-jce-provider.jar**, do you think this can cause the problem?

  Thanks.

[2018-08-13 16:44] martijndwars commented on #65
It's probably a class loading issue, see e.g. https://stackoverflow.com/questions/36252742/wildfly-10-bouncycastlecrypto-ecdsa-key-spec-not-recognized/36262268#36262268. As this is unrelated to this library, I'm closing this issue.

[2018-08-13 16:44] #65 closed, assigned to nobody

[2018-08-13 18:10] tercioramalho commented on #65
You were correct.
The problem was solved.
Thanks a lot.

[2018-09-01 21:01] fischermatte opened #66 "Remove guava dependency if not needed"
webpush-java has a dependency to guava, which obviously doesn't serve a valid purpose:

    // Not sure what for..
    compile group: 'com.google.guava', name: 'guava', version: '19.0'

since guava is a quite heavy lib (around 3mb), it would be nice to remove this dependency.

[2018-09-01 21:36] fischermatte commented on #66
just found the purpose - it is used in several places for base64 encoding: see `com.google.common.io.BaseEncoding`. so removing means a little more effort :-( if i find some time i will provide a pull request. the comment above could be updated...

[2018-09-01 22:07] martijndwars commented on #66
Thanks! I suppose it won't be too hard to implement base64 encoding ourselves. If this means we can get rid of the dependency, then I'm all for it. Let me know if you need some help.

[2018-09-03 20:10] fischermatte commented on #66
@MartijnDwars before i provide a pull reques - 2 questions:

1. master branch build is currently broken. did you already have a look at this?
2. is the target jdk version still 7? travis runs against jdk8.

[2018-09-04 06:43] martijndwars commented on #66
1. The integration tests use Selenium but we've been seeing some intermittent failures. Don't worry too much about the build being broken. I'll try to fix it this weekend.

2. I'd like to keep targeting Java 7 as there are some people who cannot upgrade to Java 8. I will add a variant for Java 7 to Travis, thanks.

[2018-09-26 13:30] swamyrajGitHub opened #69 "Duplicate notification received in chrome and mozilla"
I am pushing single message to single subscriber ,but recieving the notification 2 times .I have tried in both chrome and mozilla . Could somebody help ?

[2018-09-27 08:06] swamyrajGitHub commented on #69
Closing the issue as it was caused by the EJB scheduler in the backend  which was running two times even though it was scheduled to run once every minute...

[2018-09-27 08:06] #69 closed, assigned to nobody

[2018-10-15 13:26] xuwei-k opened #70 "Support "aes128gcm" ( RFC 8291 )"
- https://github.com/web-push-libs/web-push/issues/278
- https://tools.ietf.org/html/rfc8291

[2018-10-15 13:29] xuwei-k commented on #70
Should we use google/tink? 🤔
- https://github.com/google/tink/blob/v1.2.0/apps/webpush/README.md
- https://github.com/google/tink/blob/v1.2.0/apps/webpush/src/main/java/com/google/crypto/tink/apps/webpush/WebPushHybridDecrypt.java#L33-L84

[2018-10-17 09:22] martijndwars commented on #70
For supporting aes128gcm I suggest we adopt similar changes to https://github.com/web-push-libs/web-push/pull/309/. We can use google/tink for the cryptographic operations. I can make the changes this weekend.

[2018-11-11 12:55] martijndwars commented on #70
Fixed in #72.

[2018-11-11 12:55] #70 closed, assigned to nobody

[2018-11-11 12:57] martijndwars commented on #66
Fixed in #68, thanks again @fischermatte!

[2018-11-11 12:57] #66 closed, assigned to nobody

[2018-11-29 22:05] CKPalk opened #73 "GCM not working without valid VAPID keys"
Since updating from 3.0.1 to 4.0.0 we are getting errors when sending GCM notifications. We were able to send them without supplying valid keys before but it's now failing on this assertion.

https://github.com/web-push-libs/webpush-java/blob/87f24810bed3aea778f8597f638794c0add12e5b/src/main/java/nl/martijndwars/webpush/PushService.java#L173-L174

[2018-11-29 23:19] CKPalk commented on #73
I would continue using v3.0.1 but I'm unable to successfully send VAPID notifications in this version.
The assertion above looks to be in all versions past 3.0.1.

[2018-12-19 00:38] eastflag commented on #38
I also hava the same issue.
Status code return 201 but notification is not happing on the phone.
So I set up node server by using the same code.
After node server return ok, notification happen succeffuly on th phone.

[2018-12-19 17:48] condast opened #74 "Update readme"
Hi,

I have just spent a day trying to send notifications through WebPush, ad managed to get this done by specifically adding private and public keys to the PushService. Without this, I get authentication errors. This is not specifically mentioned in the  ReadMe.md, so it may be worth adding this to the tutorial.

Thanks

Kees

[2018-12-20 09:09] martijndwars commented on #74
Thanks for the feedback. I agree that it's not very clear from the README. Would you be willing to improve the text and create a PR? If not, I will work on this asap.

[2018-12-20 12:40] condast commented on #74
Hi Martijn,

I'll look into it! I have OSGI-IFYD your code and am currently trying to
see if I can upgrade it to a generic OSGO package. Maybe we can integrate
the activities at some point. As far as I can currently tell, the public
and private key ALWAYS need to be added to the push message, while the code
suggests that this is optional, so I may suggest one or two minor
refactorings in the near

[2018-12-20 14:42] martijndwars commented on #74
The keys are not required if you do not use VAPID. Nowadays VAPID is the recommended approach, so this is mostly to stay backwards compatible.

Looking forward to your refactorings.

[2018-12-20 15:24] condast commented on #74
ah..ok..then it is merely required to explicitly mention in the readme.md
that these need to be added in a vapid situation. That makes sense!

Cheers

Kees

Op do 20 dec. 2018 om 15:44 schreef Martijn Dwars <notifications@github.com

--
Met vriendelijke groet,

Kees Pieters
Condast
www.condast.com

[2019-01-04 22:19] jrconlin opened #75 "Please use aes128gcm as the default encoding."
First off, thanks for this library.

RFC 8188 has been out for over a year, and some clients may soon no longer support the older "aesgcm" encoding format. Can you please make the default "aes128gcm"? Thanks!

[2019-01-04 22:26] martijndwars commented on #75
Thanks for the heads up. Making aes128gcm the new default sounds like a reasonable thing to do. I'll try to get a PR out by tomorrow.

[2019-01-05 20:15] martijndwars commented on #56
I took another look at your comments. If you directly use the `Notification` class you are not bothered by GSON, avoid name clashes with data transfer classes, and avoid hard-to-read code.

[code]

I agree we should make the VAPID subject optional (again, PRs are much appreciated). If you have any other suggestions on how to make the API better, please let me know.

[2019-01-05 20:15] #56 closed, assigned to nobody

[2019-01-05 21:00] #75 closed, assigned to nobody

[2019-01-05 22:26] #73 closed, assigned to nobody

[2019-01-05 22:44] martijndwars commented on #73
Sorry for the delay. This should be fixed now. In a few hours you will find version 5.0.1 of this library on Maven Central. Let me know if there are any other issues.

[2019-01-05 23:00] martijndwars commented on #59
I setup Travis to test on openjdk8, openjdk11, oraclejdk8, oraclejdk11. Build [#157](https://travis-ci.org/web-push-libs/webpush-java/builds/475830129) passes on all versions. Any chance you could create a [Minimal, Complete, and Verifiable example](https://stackoverflow.com/help/mcve) demonstrating your problem?

[2019-01-08 23:36] CKPalk commented on #73
Great, thank you!

[2019-01-09 08:42] deokju opened #78 "help me~ how make public key???"
hello..
I  practice web-push in java.
How make public key in java?
Public key means applicationServerpublicKey.

[2019-01-09 10:45] martijndwars commented on #78
You can generate a key pair at https://web-push-codelab.glitch.me/.

[2019-01-09 10:45] #78 closed, assigned to nobody

[2019-01-11 12:53] sudhanshu1693 commented on #65
Hi
I want to implement push notification in Liferay.
I have created push notification from Servlet where I am able to send push notification on Mozilla Firefox but in Google Chrome  am getting Error

below is the code where i am getting error

[code]
This error is only in google chrome.

In Liferay, I have used the same code but while submitting request I am getting below Error.

	at org.bouncycas

[2019-01-11 18:31] tercioramalho commented on #65
I Think you are providing a null value instead an arrayBuffer.

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: sudhanshu1693 <notifications@github.com>
Sent: Friday, January 11, 2019 9:53:45 AM
To: web-push-libs/webpush-java
Cc: tercioramalho; Author
Subject: Re: [web-push-libs/webpush-java] key spec not recognized (#65)

Hi
I want to implement push not

[2019-01-14 06:05] sudhanshu1693 commented on #65
No, I am not passing null

below is the sample of input and output what i am getting.

<pre>async function urlB64ToUint8Array(base64String){
		  const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
		  const base64 = (base64String + padding).replace(/\-/g, '+').replace(/_/g, '/');
		  const rawData = atob(base64);
		  const outputArray = new Uint8Array(rawData.length);
		  for (var i =

[2019-01-23 08:51] martijndwars opened #79 "Drop fcm/send replacement"
See https://github.com/web-push-libs/web-push/pull/395.

[2019-01-31 14:41] leonchaves opened #80 "Which BouncyCastle version are you using in the example?"
Hello,

Nice work with the api, but I'm facing some problems: your Subscription.getUserPublicKey method in the example is not compiling for me. The compiler cannont find KeyFactory. I tried to import org.bouncycastle.jce.provider.asymmetric.ec.KeyFactory, but then the getInstance(String,String) is undefined. I tried importing other classes but with similar problems.

In my build.gradle I am using

[2019-01-31 16:00] leonchaves commented on #80
I were able to solve this problem: I am using web push 5.0.1 (5.0.2-snapshot was not available in my nexus repository) and bcprov-jdk15on v. 1.60. My imports are:

import java.security.KeyFactory;
import java.security.NoSuchAlgorithmException;
import java.security.NoSuchProviderException;
import java.security.PublicKey;
import java.security.Security;
import java.security.spec.InvalidKeySpecExcepti

[2019-01-31 16:00] #80 closed, assigned to nobody

[2019-01-31 17:59] martijndwars commented on #80
The master branch always points to the development version, which is a `-SNAPSHOT` version that is not published to a public repository. The latest stable release is indeed [5.0.1](https://search.maven.org/search?q=g:nl.martijndwars%20a:web-push), which is published to Maven Central. The corresponding BouncyCastle version can be found in [build.gradle](https://github.com/web-push-libs/webpush-java

[2019-01-31 18:01] leonchaves commented on #80
Thank you!

[2019-02-01 11:43] leonchaves commented on #46
That code uses private key, public key and subject as parameters to create the PushService. When I ran web-push generate-vapid-keys command I only get the keys (angular tutorial available [here](https://blog.angular-university.io/angular-push-notifications/) - see "Generating a VAPID key pair using node web-push"). There is no subject (neither an input from me nor an output from the command). Do y

[2019-02-01 13:19] martijndwars commented on #46
The subject parameter is part of the VAPID specification, but it's value is not really important. According to the [specification](https://tools.ietf.org/html/rfc8292#section-2.1):

An example subject would be `mailto:push@example.com`. According to the specification the subject parameter is optional, but in this library the subject parameter is required. Making the subject optional is an [open is

[2019-02-01 13:20] martijndwars opened #81 "Make VAPID subject optional"
As mentioned in #46 and #56.

[2019-02-01 14:06] leonchaves commented on #46
Thanks for your response. But I'm still facing the same unauthorized error. My code is the same as above (original code posted by dyogomedeiros), except that I'm using the PushService constructor that receives public key, private key and subject as strings. Those are the same in the server and in the client. I really don't know what I'm missing. Can you help me, please?

Thanks

[2019-02-04 12:02] leonchaves commented on #46
I was sending the endpoint incorrectly, and that's why I got an unauthorized error. Now I get a 201 - Created result, but I can't see the actual notification in my ubuntu and chrome.

What are the response error code meanings for this service? 201 I believe it is "ok", right?

[2019-02-04 12:50] leonchaves commented on #46
I figured it out: the payload cannot be a string like the one in the above code. It must be a json in a certain format. At least:

{ "notification": {"title": "message title", "body": "message body"} }

Now it is ok!

[2019-02-04 13:35] martijndwars commented on #46
For the web push protocol the payload is just binary data. The [The Push Event](https://developers.google.com/web/fundamentals/push-notifications/handling-messages#the_push_event) page describes several ways in which your service worker can parse the data:

- `event.data.text()` returns the data as string.
- `event.data.json()` parses the data as JSON string and returns a JavaScript object.
- `eve

[2019-02-05 10:53] leonchaves commented on #46
You're right. We are using an angular service worker that expects json and does not handle well format errors. Thanks for the help!

[2019-02-26 00:30] dsteen338 commented on #46
I am running into a similar issue, and am wondering if I can get some help. I got my push notifications to work on Firefox, but not on chrome. I was getting the 400 Unauthorized error like the users above.

I was originally **not** using VAPID, but wondered if I needed to be. Following the advice of @MartijnDwars, I added my VAPID private and public key-pair to the backend (based on this comment):

[2019-02-26 14:20] dsteen338 commented on #46
Scratch that! I got it to work, I just needed to un-register and re-register the service worker after adding the `applicationServerKey` to the subscription.

My comment now becomes, that I needed to do a lot of googling and investigating to get to this point and get it working. I needed to find this thread specifically and use the example from https://github.com/MartijnDwars/spring-boot-web-push i

[2019-03-01 09:20] martijndwars commented on #46
I'm glad you got this to work @dsteen338! I'd be happy to discuss ideas that could improve the wiki. PRs that improve the documentation are very welcome.

It seems that most comments on this issue are about problems with using the library and not with the library itself, so I will close the issue now. If someone bumps into a similar issue or wants to discuss improvements to the documentation, plea

[2019-03-01 09:20] #46 closed, assigned to nobody

[2019-03-20 11:40] MuratKaragozgil opened #82 "Generate Vapid Key Exception"
Hello,

I want to use generate vapid key method, but everytime i get these stacktrace on server. But I tried on my local machine, its working. I don't know what is different. (JDK and bouncycastyle version are same on local and server)

I have already tried different JDK and BouncyCastyle versions but nothing changed.

My code is here;

[code]

Stacktrare is here ;

[code]

[2019-03-20 12:17] martijndwars commented on #82
1. To troubleshoot this problem, I'd need to see the full stack trace. Can you post this? The start of the stack trace should show which exception is being thrown.

2. Alternatively, you can generate a key pair online at https://web-push-codelab.glitch.me/. This page generates a public- and private key and encodes them using base64. You can configure the Java library to use the base64 strings.

[2019-03-28 15:31] EpsilonTal opened #83 "How can I mofidy the payload with title, icon and content ?"
Hello,

The payload for this java lib is defined as String.

When using webpush with NodeJS I had the option to modify the "payload" like that:
`const payload = {
 actions: actions,
 icon: iconUrl,
 title: title,
 message: message,
 url: actionUrl
 };`

And the ServiceWorker recognize it as:
`event.data.json().title`

How can I communicate the payload, on Java like I do with NodeJS?

[2019-03-28 15:42] EpsilonTal commented on #83
Can be closed, succeeded...
I delivered the Json as String.

[2019-03-28 15:42] #83 closed, assigned to nobody

[2019-03-31 11:40] martijndwars commented on #82
I'm closing this issue. Feel free to leave a comment if you still have an issue.

[2019-03-31 11:40] #82 closed, assigned to nobody

[2019-04-17 02:47] titer1 opened #85 "influence of deprecated gcm"
google will deprecated GCM at  May 29, 2019,
so latest version of webpush-java  will be influenced ?
thank you !

[ref-link](https://developers.google.com/cloud-messaging/gcm)

[2019-04-17 08:28] martijndwars commented on #85
Thanks for the heads-up. This should not be a problem, since Google's web-push implementation uses Firebase Cloud Messaging (FCM). Moreover, this library should be faithful to the web-push specification, which allows Google to switch between any web-push compatible service (FCM/GCM/...) without affecting this library.

[2019-04-17 08:28] #85 closed, assigned to nobody

[2019-05-27 13:53] aaravrahul3268 opened #87 "Angular 7 - Service Worker PWA+SSR Not Working on Server"
Angular 7 - Service Worker PWA+SSR Not Working on Server

[2019-05-27 19:13] martijndwars commented on #87
Sorry, I cannot help you based on this information.

[2019-05-27 19:13] #87 closed, assigned to nobody

[2019-05-28 08:54] aaravrahul3268 opened #88 "Query To Send Push Notification to Multiple endpoints either in loop Or Batch"
I have Implemented the code for calling this push library and its working for one endpoint . but I want to know the way to send to multiple endponts at a time.

[2019-05-30 09:26] aaravrahul3268 opened #89 "Getting Error - java.lang.NoClassDefFoundError: org/bouncycastle/jce/provider/BouncyCastleProvider"
Hello.

I am trying to use webpush-java with a web page and I created a Java play  application (Jar file) to try it. It works fine in my local Windows Machine and i am able to push notification and i get notification in the browser.
But When i deploy it on Centos Os Server I get this error 👎
 java.lang.NoClassDefFoundError: org/bouncycastle/jce/provider/BouncyCastleProvider

Please find my attache

[2019-05-30 13:17] martijndwars commented on #89
This library uses BouncyCastle to perform cryptographic operations. The BouncyCastle JAR needs the JCA signature for the JVM to trust it as a cryptography provider. However, dealing with signed dependencies brings some complications.

One complication is that you cannot create a fat JAR/shadow JAR/uber JAR, because when you move the BouncyCastle classes to the shadow JAR you lose the signature. Yo

[2019-05-30 13:17] #89 closed, assigned to nobody

[2019-05-31 09:03] martijndwars commented on #88
The simplest solution is to loop over your notifications and repeat the call to `pushService.send(notification)`. Endpoints have different addresses and with VAPID each message needs to be encrypted with the user's public key, so there's not much room for batching.

[2019-05-31 09:03] #88 closed, assigned to nobody

[2019-05-31 09:05] martijndwars opened #90 "Enable chrome-dev tests"
The Web Push Testing Service (WPTS) uses a version of the ChromeDriver that supports Chrome up to version 74, whereas the current development version of Chrome is version 75.

See if we can update WPTS to (a) use a newer version of ChromeDriver that supports Chrome 73, 74, 75 or (b) use multiple versions of ChromeDriver to do the testing. Afterwards, re-enable the tests.

[2019-06-14 01:38] nkmittal commented on #8
I am using the code exactly as mentioned in your "https://github.com/web-push-libs/webpush-java/wiki/Usage-Example". I am getting error specifically when generating pubic key in the following code (calling Java APIs from my Scala code):
[code]
I am using 1.62 version for bcprov-jdk15on and bcpkix-jdk15on. I also tried ECNamedCurveTable.getParameterSpec("secp256r1") but same error.
**Error:**

[cod

[2019-06-26 11:14] ghost opened #93 "Please specify third party libraries"
I have doubt using Bouncy Castle library as it is throwing error"InvalidAlgorithmParameter  Exception: unknown parameter type".
So I was using Bouncy Castle version 1.49 with JDK 12.
Can you please specify the version of bouncy castle that you were using.

https://stackoverflow.com/questions/42928339/gcmparameterspec-throws-invalidalgorithmparameterexception-unknown-parameter-ty
http://shibboleth.

[2019-06-27 07:30] martijndwars commented on #93
The project is currently using version 1.54 ([source](https://github.com/web-push-libs/webpush-java/blob/5e2cff7c90fec84cc04498037bebebbe1aab0b97/build.gradle#L33)). Let me know if you need further help.

[2019-06-27 07:30] #93 closed, assigned to nobody

[2019-07-07 22:23] fima-taf commented on #38
Did you resolved it in anyway? Because i am having the same issue (with 201 at java, but the 'push' event is not triggered.

[2019-07-10 08:02] martijndwars commented on #38
Could you try https://github.com/MartijnDwars/spring-boot-web-push? The README contains instructions on how to configure the keys. The project contains a frontend that allows you to click a button, after which a notification is sent to the browser vendor, which in turn sends the notification to the browser. I've used this example in the past, so I'm confident that it works.

If this example works

[2019-07-10 08:14] fima-taf commented on #38
My problem was that i've passed the wrong key for each call, everything is working perfectly now, thx anyway.

[2019-07-10 08:16] martijndwars commented on #38
Ok, thanks for letting me know 👍 I'll close this issue then!

[2019-07-10 08:16] #38 closed, assigned to nobody

[2019-09-02 09:23] dherediat97 opened #95 "Dont work in Java Version 7 Error: NoSuchMethodError- org.bouncycastle.math.ec.ECPoint.getEncoded()"
Hello,

the newer version dont work  for me(different configurations) in JAVA 7.

Java Version: JAVA 7

Dependencies in pom.xml

[code]
Code(I also tried the request web push way and also dont work, the error was  this [InvalidKeyException: ECDH key agreement requires ECPublicKey for doPhase](https://stackoverflow.com/questions/35228063/encrypt-message-for-web-push-api-in-java)):
[code]

Log Trace

[2019-09-02 13:01] martijndwars commented on #95
Your strack trace indicates that you have a different version of BouncyCastle on your classpath. BouncyCastle 1.54 contains a `byte[] getEncoded(boolean)` method, as becomes evident by the following trace:

[code]

Is there a way to verify your runtime classpath? Can you check if BouncyCastle 1.54 is really on there, or if some other version is being used? Or can you share how you run your Java ap

[2019-09-02 13:36] arpit728 opened #96 "How to send empty push notification ?"
How can I send an empty push notification, currently it gives NPE I want to do this for compatibility with chrome versions below 49.

[2019-09-02 13:47] dherediat97 commented on #95
I go to try know the version of bouncycastle in execution...

log.debug("Version Bouncy Castle")
                           log.debug(org.bouncycastle.jce.provider.BouncyCastleProvider
                           .class
                           .getPackage()
                           .getImplementationVersion());

![imagen](https://user-images.githubusercontent.com/17063135/64119480-40f58280-cd9

[2019-09-02 14:32] dherediat97 commented on #95
Now the problem is with apache commons codec, and the same problem or  similar problem:

`java.lang.NoSuchMethodError: org.apache.commons.codec.binary.Base64.encodeBase64URLSafeString([B)Ljava/lang/String;`

[2019-09-02 14:43] dherediat97 commented on #95
Solved, Thanks you @MartijnDwars

[2019-09-02 14:43] #95 closed, assigned to nobody

[2019-09-02 15:28] martijndwars commented on #96
Can you share the stack trace of the NPE?

[2019-09-02 16:12] arpit728 commented on #96
@MartijnDwars

One more thing I would like to highlight here, for chrome version below 49, subscription object only contains endPint and not the encryption keys. But this library always tries to encrypt, how to deal with this?

[2019-09-02 16:19] martijndwars commented on #59
Closing due to lack of response.

[2019-09-02 16:19] #59 closed, assigned to nobody

[2019-09-03 05:12] martijndwars commented on #96
That would be a bug, thanks for reporting. Do you want to work on a PR? Otherwise, I may be able to take a look this weekend.

[2019-09-03 06:42] arpit728 commented on #96
@MartijnDwars
Cool, I would take up this PR.

[2019-09-12 09:23] dherediat97 opened #97 "Support for BouncyCastle bcprov-jdk16?"
Hello,

my question is:

is possible that this library have support for bcprov-jdk16(Bouncy Castle)?

The method BigIntegers.fromUnsignedByteArray of bouncy castle dont exists in bcprov-jdk16 but yes in bcprov-jdk15on.

I know that i open and closed a related issue about this (https://github.com/web-push-libs/webpush-java/issues/95) but is different i think.

Greetings @dherediat97

[2019-09-16 20:10] martijndwars commented on #97
We'd have to check the implications of upgrading BouncyCastle. For the call to `BigIntegers.fromUnsignedByteArray`, the [implementation](https://github.com/bcgit/bc-java/blob/master/core/src/main/java/org/bouncycastle/util/BigIntegers.java#L111-L114) does nothing special. We might as well inline the creation of the `BigInteger` and remove the call into BouncyCastle. Would that already solve your p

[2019-09-22 20:01] ghost opened #100 "java.security.InvalidKeyException: Not an EC key: ECDH"
I'm getting this error using the CLI send-notification :+1:

[code]

any idea what could cause this ? (I checked all parameters)

[2019-09-23 19:38] martijndwars commented on #100
Can you post the arguments that you used to invoke the CLI application?

[2019-09-23 21:53] ghost commented on #100
[code]

[2019-09-24 11:26] huantt opened #101 "Use non-blocking IO http-client library to send faster and reducce CPU usage"
We have a project with a lot of notification must be delivered per hour.
So we're using VertX to send http request asynchronously and pass callback into sendAsync method. Now, we can X2 speed and reducce 1/2 CPU usage by using this library.
If you want to create another driver with asynchronous http request, let contact me to discuss more details
My email: tathuan96@gmail.com

[2019-09-25 08:49] dherediat97 commented on #97
Yes @MartijnDwars,

is very possible(i am 100% sure that are more errors or not, because when i change the version the first error is that, but if only is this is solved , but i dont know if there are more errors after).

Sorry for the delay.

greetings @dherediat97

[2019-09-26 08:53] martijndwars commented on #101
I'd be happy to integrate such improvements in this project (no need for a separate driver). How exactly is your setup (VertX + callback) different from the asynchronous HTTP client that is currently being used by the library? Can you share some code?

[2019-09-26 09:02] huantt commented on #101
Nonblocking IO is different from Nonblocking code.
Look like the driver that use're using this nonblocking code - that use thread pool to do asynchronously.
Can we discuss more about that on Skype or Telegram?

[2019-09-26 21:16] ghost commented on #100
any idea ?

[2019-09-27 03:18] huantt commented on #101
You can see benchmark here:
https://github.com/huantt/vertx-web-client-benchmark

[2019-10-02 16:31] #81 closed, assigned to nobody

[2019-10-02 23:10] mchiba52 commented on #97
The inline will help as I am getting an error on java.math.BigInteger that is called from the BC function BigIntegers.fromUnsignedByteArray

[2019-10-14 07:11] iyashsoni opened #104 "InvalidKeyException: Not an EC key: ECDH"
Constantly getting **Exception in thread "main" java.security.InvalidKeyException: Not an EC key: ECDH**

Environment Info:
MacOS, Java 1.8

I've tried the solution mentioned in this [issue](https://github.com/web-push-libs/webpush-java/issues/5) but still no luck.

I have done the following:
1. Generated Vapid keys on my local machine.
2. Always inserting BouncyCastleProvider at 1st position.
3.

[2019-10-14 07:14] iyashsoni commented on #100
@zacoben @MartijnDwars Any luck with this? I'm stuck too on this for quite some time.

[2019-10-15 17:46] mhueck opened #105 "Provide support for pre-set applicationServerKey"
According to the W3C spec it should be possible to provide an applicationServerKey during subscription.
https://www.w3.org/TR/push-api/#dom-pushsubscriptionoptions-applicationserverkey

At the moment the server key is generated with each message.
Unfortunately, the methods encrypt() and generateLocalKeyPair() are both static and therefore cannot be overwritten in a super class otherwise I could ju

[2019-10-15 17:51] #105 closed, assigned to nobody

[2019-10-15 17:51] mhueck commented on #105
Sorry, just realized that this is done with VAPID.

[2019-10-16 20:14] martijndwars commented on #105
No problem! Feel free to open a new issue if something else pops up.

[2019-10-16 20:19] martijndwars commented on #100
@zacoben @iyashsoni if I run the the following:

[code]

It outputs:

[code]

Can you provide more info so I can reproduce the issue?

[2019-10-16 20:22] martijndwars commented on #104
Thanks for the bug report! It looks like you're doing everything right. How did you generate the VAPID keys?

[2019-10-17 02:51] iyashsoni commented on #104
@MartijnDwars I’m using the npm module web push to generate keys. The weird part is, the same piece of code runs perfectly fine when run from a plain java program - a separate java project with only one file.

I’ve debugged my main java project and the final exception is thrown from the key agreement class.

Any help?
Thanks.

[2019-10-17 09:05] iyashsoni commented on #104
@MartijnDwars
Update: When I debugged through the code - I see **method checkKey of sun.security.ec.ECKeyFactory class** gets invoked. This is the origin of the error.

<img width="725" alt="Screenshot 2019-10-17 at 2 31 18 PM" src="https://user-images.githubusercontent.com/13438232/66994710-4fe68900-f0eb-11e9-8b70-a0b8f8fece41.png">

I have stepped through the code in both - my Push Server and a

[2019-10-18 09:47] martijndwars commented on #104
Thanks for the detailed analysis! The problem seems to be that `JceSecurity.canUseProvider` returns false for the BouncyCastle provider. This method from the standard library verifies if the JAR is a signed provider JAR file. The BouncyCastle JARs are signed, but it's possible that your deployment unpacks/repacks the JAR and thereby removes the signature. Can you check if the original BouncyCastle

[2019-10-23 12:43] iyashsoni commented on #104
Hey @MartijnDwars, I got past this error with Reflection and dynamic class loading. Now I've hit across this SSL handshake error:

[code]

Any idea?

[2019-10-25 08:15] martijndwars commented on #104
It looks like you're running your JVM with a custom trust store that does not contain Google's root certificate. The error hints at a solution: add the signer to the local trust store. You'll have to Google on how to do this exactly, but maybe you can start at the following references:

* [Add a Certificate to a Truststore using Keytool](https://access.redhat.com/documentation/en-us/red_hat_jboss_

[2019-10-28 16:32] iyashsoni commented on #104
Thanks, @MartijnDwars for the help. I'm closing this issue as it is solved.

[2019-10-28 16:32] #104 closed, assigned to nobody

[2019-11-01 00:26] yaitskov commented on #101
yep. +1

as for now just  use PushService.preparePost. it is public and create apache http async client on
your own. It is currently recreated every message while it is thread safe and i guess there are just a few push services in the worlds so safe resources on reusing existing tcp sockets.

[2019-11-01 11:06] huantt commented on #101
@MartijnDwars you can read more about non-blocking-io (as how nodejs work in one thread)
It's different from non-blocking-code (non-blocking by using thread pool).
For example: https://vertx.io/docs/vertx-web-client/java/

[2019-11-02 16:19] iyashsoni opened #106 "Unable to send Push Notification"
Hey @MartijnDwars, while sending the Notification I'm getting the following error:
[code]
Getting the same error from curl request:
[code]

I've generated VAPID keys using [npm module](https://github.com/web-push-libs/web-push).
These are the keys:
[code]
The subscription object looks like this:
[code]

This is the code that I'm using for sending Push Notification:
[code]

**Am I using the keys wr

[2019-11-06 05:19] #106 closed, assigned to nobody

[2019-11-06 09:51] martijndwars commented on #106
Sorry, didn't get the time to look into this. Were you able to resolve this issue? Could you share the solution (for those coming from Google)?

[2019-11-12 16:53] bsarkar6990 commented on #5
After some hit and trial I am able to resolve it.

Issue: When I was working with JDK 1.8 and bcprov-jdk15on-164.jar which is the latest bouncy castle for JDK 1.5 - JDK 1.11, it was working awesome. But bcprov-jdk15on-164.jar doesn't work for JDK 1.7.0_80 and getting  "java.security.InvalidKeyException: Not an EC key: ECDH" error.

Solution: While working with JDK 1.7.0_80 please use bcprov-jdk15t

[2019-11-19 11:34] iyashsoni opened #108 "Class cast exception in Notification Class"
I am using library version 5.0.2

I get the following error `org.bouncycastle.jcajce.provider.asymmetric.ec.BCECPublicKey cannot be cast to org.bouncycastle.jce.interfaces.ECPublicKey` when I try and instantiate the Notification class at runtime.

In my setup, as we are bundling the entire server in a war file, due to re-bundling, signature breaks for bouncycastle libs, So I'm using a custom class

[2019-11-19 11:43] charankumarpalla commented on #108
I face a similar issue

[code]

[2019-11-20 09:11] #97 closed, assigned to nobody

[2019-11-24 17:46] tekkamanendless commented on #29
So I see that urgency was added, but no release covers this yet (as of today, v5.0.2 is the latest).  Is there any chance that we could get a version bump so our applications can support this?

[2019-11-24 20:55] martijndwars commented on #29
I will do this end of next week.

[2019-11-24 20:55] #29 closed, assigned to nobody

[2019-12-04 18:42] kirillsbarsukov opened #120 "Migration from old versions to the latest one"
Good evening!
Long time ago, one of our ex- employee used that library to implement Web Push notifications. Right now, we have 3.1.0 version of the library. Is there any guides how to migrate to the newest version?
Right now, when I am trying to use 3.1.0 version, I got Error 403.
Thank you!

[2019-12-06 15:46] martijndwars commented on #120
I never maintained a changelog (but should start doing so) and I cannot explain the 403 error you are getting. Could you try picking up the latest version, update any broken API calls, and see if you can still subscribe and subsequently receive a notification?

If you were not using VAPID before, you should start using VAPID. If you were using VAPID before, make sure to keep using the same key pai

[2019-12-06 15:46] #120 closed, assigned to nobody

[2019-12-09 21:06] kirillsbarsukov commented on #120
Thank you for the answer!
If you do not mind, I will ask another question about that method
[code]
The line before last,
`ECPublicKeySpec pubSpec = new ECPublicKeySpec(point, ecSpec);`
We are passing two arguments into ECPublicKeySpec: ECPoint and **ECNamedCurveParameterSpec**.
However, ECPublicKeySpec accepts only ECPoint and **ECParameterSpec**
here the [Oracle](https://docs.oracle.com/javase/7/

[2019-12-09 21:13] martijndwars commented on #120
I guess that snippet comes from the [Wiki](https://github.com/web-push-libs/webpush-java/wiki/Usage-Example#serverside---parse-the-input). I see that the imports are missing, but probably these classes come from the BouncyCastle API, not the Oracle API:

* https://people.eecs.berkeley.edu/~jonah/bc/org/bouncycastle/jce/spec/ECPublicKeySpec.html
* https://people.eecs.berkeley.edu/~jonah/bc/org/boun

[2019-12-10 00:00] tekkamanendless commented on #29
Need any help with this?  Sorry to bug you, but I'd really like urgency support.

[2019-12-10 21:25] martijndwars commented on #29
Just released version 5.1.0 to Maven Central 😉

[2019-12-11 07:00] tekkamanendless commented on #29
Thank you, kind sir.  I recently switched from GCM to Web Push, and some of my firefighters had noted that they were getting their notifications much slower after the update.  I'm hoping that setting the urgency to "high" solves their problems :crossed_fingers:

[2020-01-09 00:08] maxpiepenbrink commented on #53
Thanks for this, I ran into this today and this Github link is what saved me. I wish we had a better explanation as to why microsoft's endpoint seems to care about this value.

[2020-03-20 18:00] sp00m commented on #101
My two cents, I believe the current implementation _is_ non-blocking strictly speaking, if you use PushService#sendAsync, as it uses [Apache HttpAsyncClient](https://hc.apache.org/httpcomponents-asyncclient-4.1.x/quickstart.html) behind the scene (see their [HttpCore tutorial](https://hc.apache.org/httpcomponents-core-ga/tutorial/html/nio.html)).

The main issue though in my opinion, is that calle

[2020-03-21 16:48] martijndwars commented on #101
Thanks for the explanation @sp00m. A PR that makes these changes is much appreciated.

[2020-03-31 15:08] ammaraslam10 opened #133 "MS Edge support"
I saw this
https://github.com/web-push-libs/webpush-java/issues/53
Tried the fix, but to no avail, Opera/Chrome/Firefox they all seem to work fine.

Testing on MS Edge 44
Also tested it on Edge 80, The results are the same

[2020-04-16 19:56] matewka commented on #108
@MartijnDwars can you help on this?
I'm fighting this problem for 3 days already, with no luck.

To make sure whether it's on my side or lib's side, I've created an example Node script that runs web-push Node implementation. I applied the same keys, credentials etc. that I use in Java. In Node everything runs just fine. In Java, I'm getting this error:

[code]

Here's a (simplified) Java code that

[2020-07-09 18:30] rrjanbiah opened #142 "Web push in Android WebView"
Apologies, if this is a wrong place or answered somewhere...

Since, Android WebView doesn't support web push yet, can this library be used to provide that feature?

[2020-07-13 13:22] Vasudev-Git opened #143 "SSLHandshakeException: General SSLEngine problem"
I get the below certificate issue when I try to use the PushService API class to send out push notifications to Firefox browser, whereas the webpush library works fine with Chrome browser. Do I really need to import any certificate into my jre?

[code]

[2020-08-13 14:30] debabratapatra opened #144 "Getting "java.lang.NoSuchMethodError: org.bouncycastle.util.BigIntegers.fromUnsignedByteArray" Error."
I am Getting "java.lang.NoSuchMethodError: org.bouncycastle.util.BigIntegers.fromUnsignedByteArray" Error.
Can you please tell which version of bouncycastle is recommended for 5.1.0 webpush-java. I have tried 1.60 to 1.64. Nothing seems to be working for me. Am I missing something? Please suggest.

**Stack Trace:**
[code]

Thanks

[2020-08-17 18:37] kopax opened #145 "pushService.send(notification); => java.security.GeneralSecurityException,java.io.IOException,org.jose4j.lang.JoseException,java.util.concurrent.ExecutionException,java.lang.InterruptedException"
I have used [this example](https://github.com/naturalprogrammer/webpush-java-demo) to integrate my application, I am able to `subscribe`, `unsubscribe` but not to send web push.

It does not throw any error, this is the log:

[code]

This is my controller that is in charge of sending the push notification:

[code]

So no error,  It seems to work fine, it does no error, but `pushService.send(notifi

[2020-08-17 22:37] kopax commented on #106
I am in the same situation. Can you share the solution ? Next time?

[2020-08-18 13:32] kopax opened #146 "Why is the endpoint edited in this lib?"
According to the Node.js port [here](https://github.com/web-push-libs/web-push/blob/master/src/web-push-lib.js), it seems that the endpoint is kept intact while in [your lib](https://github.com/web-push-libs/webpush-java/blob/master/src/main/java/nl/martijndwars/webpush/PushService.java#L235) it tweak the endpoints by replacing `fcm/send` with `wp`, it doesn't look to be normal (see addition [note

[2020-08-18 13:35] kopax commented on #79
Related to #146 Can this be merged? As of today, should this library work? I feel this can be the reason why the API never send my notification.

[2020-08-18 13:37] kopax commented on #146
I feel this is why the API never send any of my notifications.

[2020-08-18 15:20] #145 closed, assigned to nobody

[2020-08-18 15:21] #146 closed, assigned to nobody

[2020-08-18 15:26] kopax opened #147 "Authentication done seems to be broken"
I have copied the `PushService` and added somes logging into it to understand the headers send while notifying and I got:

[code]

This is my controller:

[code]

I added dots on keys. It seems that this module does the job but I keep getting unauthorized errors

# Edited PushClient with logging bellow
<details>
  <summary>Click to see relevant part with logging of original custom PushClient.java<

[2020-08-18 15:57] kopax commented on #147
I am trying to configure push notification with two clients (one from chrome and other one from firefox)

In chrome, pushing cause the unauthorized error:

    the key in the authorization header does not correspond to the sender ID used to subscribe this user. Please ensure you are using the correct sender ID and server Key from the Firebase console.

In firefox, pushing cause the unauthorized er

[2020-08-18 16:27] kopax commented on #147
The client was using a wrong public key. Sorry about this.

[2020-08-18 16:27] #147 closed, assigned to nobody

[2020-08-19 13:02] kopax opened #148 "How to add an icon or an image to the web push notification"
Hello, I am reading `Notification` class and I can't see where the `icon` or `image` can be set, could you please show us an example? Thanks in advance

Source: https://developer.mozilla.org/en-US/docs/Web/API/Notification/icon

[2020-08-19 18:10] #148 closed, assigned to nobody

[2020-08-21 14:04] martijndwars commented on #148
This library is used on the server to send the push message. Upon creating the push subscription, the browser registers a service worker that can listen to `push` events. It is up to the service worker to create the notification. As such, creating the notification is outside the scope of this library.

[2020-08-21 15:39] kopax commented on #148
Yes I figured out all that my self that is why I have closed the issue. Thank you for the reply still. I have implemented my self the same mechanism but for web push token, I got them working in my expo app, do you have an idea why expo does not allow them at that time? Will you add the support later if a day they would support it?

[2020-08-21 17:55] martijndwars commented on #148
I assume you are referring to [expo.io](https://expo.io/)? I have no experience with Expo, so I cannot really answer this. Are you saying you got it working with Expo? Or does it not work because Expo does not allow push notifications?

iOS does not support the Web Push protocol, so if you are deploying your Expo app as an iOS app, then that likely won't work. You need to use Apple Push Notificati

[2020-11-10 11:16] sp00m commented on #101
Now https://github.com/web-push-libs/webpush-java/pull/139 has been merged and released under https://github.com/web-push-libs/webpush-java/releases/tag/5.1.1, I believe this ticket can be closed.

Example with Project Reactor:

[code]

[2020-11-11 19:32] #101 closed, assigned to martijndwars

[2020-11-11 19:41] martijndwars commented on #142
Note that this library implements the server-side functionality, i.e. sending a push notification to the push service. This assumes that the browser (or Android WebView) has already created a push subscription first and has sent the subscription to the server. See [Usage Example](https://github.com/web-push-libs/webpush-java/wiki/Usage-Example) for an explanation of this flow.

As for Android WebV

[2020-11-11 19:41] #142 closed, assigned to nobody

[2020-11-12 14:48] rrjanbiah commented on #142
@MartijnDwars Thanks for the note

[2021-01-14 18:16] hectorgrebbell opened #153 "Notification::getOrigin Does not handle non standard ports leading to incorrect VAPID JWT aud."
As per the VAPID spec (https://tools.ietf.org/html/rfc8292#section-2)

      serialization of the origin (Section 6.1 of [RFC6454]) of the push
      resource URL.  This binds the token to a specific push service and
      ensures that the token is reusable for all push resource URLs that
      share the same origin.

  And as per RFC 6454 (https://tools.ietf.org/html/rfc6454#section-6.1) for non

[2021-01-18 21:59] martijndwars commented on #153
Good catch, I’ll work on a fix. Thanks!

[2021-03-22 17:26] AhmadAlhajKarim opened #164 "Why don't you set public and private key after creating the pushService?"
pushService.setPrivateKey(privateKey);
pushService.setPublicKey(publicKey);
This made my code working
Also don't forget to convert the payload to json string

[2021-03-23 15:13] martijndwars commented on #164
Thanks for the feedback! Just to see if I understand you correctly; are you saying the documentation/example is unclear/misses these calls? If yes, can you point me to the documentation (wiki/readme)?

[2021-03-23 15:35] AhmadAlhajKarim commented on #164
Yes, in the documentation of the usage example is not been mentioned where to use the private and the public key. Missing calls is _after initializing_ the pushService.
//Instantiate the push service, no need to use an API key for Push API
`  pushService = new PushService();
`
**//set the pivate and the public key**
`pushService.setPrivateKey(privateKey);
`
`pushService.setPublicKey(publicKey);
`

[2021-04-02 14:06] luisFebro commented on #106
I am with the same situation.

[2021-04-22 10:35] Nic2012 opened #168 "Which Firewall rules need to be adjusted?"
Hi,
we have implemented Java Push feature in our app server JBoss-EAP 7.3, Java 11. There is a customer whose users cannot receive push notifications in the Chrome browser. Although each user has successfully subscribed push and in this case we can store the endpoints. Later during runtime when server side code decides to push notification on each endpoint, users complain about that notifications

[2021-05-11 07:56] debabratapatra commented on #108
I am also facing the same issue. @matewka did you find any solution? Thanks

[2021-05-11 09:59] matewka commented on #108
@debabratapatra unfortunately not. I've abandoned this feature temporarily in my project.

[2021-05-11 10:31] iyashsoni commented on #108
Hi @debabratapatra @matewka I have solved this issue. Apologies for long and delayed answer but this will solve your problem.

So the problem is because of 2 different class loaders. The class cast exception that you see is because one class is loaded probably from a local jar, while the other is loaded from somewhere in your dependency tree.

To avoid this problem, what I had to do was write a lo

[2021-05-11 11:25] debabratapatra commented on #108
@iyashsoni Thank you for responding and sharing your solution. I had to use older version of webpush to make it working. Here is my solution.

               <dependency>
		    <groupId>nl.martijndwars</groupId>
		    <artifactId>web-push</artifactId>
		    <version>4.0.0</version>
		</dependency>
		<dependency>
		    <groupId>org.bouncycastle</groupId>
		    <artifactId>bcprov-jdk14</artifactId>

[2021-06-11 07:38] manuel-ch opened #174 "not able to make push notifications pop up on screen of android phone"
see my post on SO: https://stackoverflow.com/questions/67862991/progressive-web-app-pwa-not-able-to-make-push-notifications-pop-up-on-screen-o

is this a known limitation of web push compared to native apps?

[2021-06-11 10:56] martijndwars commented on #174
From your post on SO:

I think you answered your question yourself already. Android apps need to be granted a permission to show a popup, and unless you grant this permission, you won't see a popup. This is a limitation of the Android ecosystem, not of the Web Push protocol or this library.

[2021-06-11 10:56] #174 closed, assigned to nobody

[2021-07-18 13:42] jclarkk opened #175 "Getting 406 status code - Not Acceptable"
Hi,

In the past couple of days, I'm getting status code 406 after sending the push notification.

AFAIK, 406 occurs when the server is not capable of producing the content type that is required by the client. For instance, if the client tells the server that it accepts only 'application/json' and the server would like to reply with plain text then an issue such as the above would occur.

Could th

[2021-07-26 09:11] martijndwars commented on #175
One week later; is this still an issue?

[2021-07-26 09:13] jclarkk commented on #175
Seems to have been resolved from yesterday. Thanks.

[2021-07-26 09:13] #175 closed, assigned to nobody

[2021-09-09 12:32] manuel-ch commented on #174
Hi Martin

Thanks for your answer, could you add it to SO post  https://stackoverflow.com/questions/67862991/progressive-web-app-pwa-not-able-to-make-push-notifications-pop-up-on-screen-o?

There are some other posts piling up on SO so your answer may be welcome!

Thanks!

Manuel

Von: Martijn Dwars ***@***.***>
Gesendet: Freitag, 11. Juni 2021 12:57
An: web-push-libs/webpush-java ***@***.***>
Cc:

[2021-09-11 10:26] martijndwars commented on #174
I'll add a comment after my vacation. Feel free to copy my answer to StackOverflow if you have the opportunity.

[2021-09-20 19:25] Ersmipe commented on #100
I have the same issue as OP. When I run the same code with same vapid locally, everything works (only once appeared exception mentioned in original post). When I run it on the server, this exception appears every time code tries to send notification. I think there could be issue with some incompatible overlapping dependencies, but I'll have to do some further investigation.

[2021-09-20 19:35] martijndwars commented on #100
@Ersmipe how do you run the application locally vs. on your server? Do you build/package your application as a fat/uber/shadow JAR? I've seen [reports](https://github.com/web-push-libs/webpush-java/issues/5#issuecomment-306930939) where people packaged their application as a fat/uber/shadow JAR, which then breaks the signature on the BouncyCastle JAR. As a consequence, the JVM won't load the Bounc

[2021-09-20 19:47] Ersmipe commented on #100
Oh, yes I am using shaded jar on server, so this will be the issue. Thank you very much for pointing me to the right direction. Java version is the same on both.

[2021-10-10 13:38] rarahim75 opened #176 "How to install in Eclipse?"
How to install this library in Eclipse if i'm not using gradle nor maven?

[2021-10-14 08:46] martijndwars commented on #176
You would have to manually collect and download the dependency (and all its transitive dependencies) from Maven Central and add them to your project's classpath in Eclipse (see e.g. [this StackOverflow question](https://stackoverflow.com/questions/3280353/how-to-import-a-jar-in-eclipse)). I would strongly recommend using Maven or Gradle though; manually managing dependencies is a pain.

[2021-10-14 08:46] #176 closed, assigned to nobody

[2021-10-19 01:47] renovate[bot] opened #179 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/web-push-libs/webpush-java).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

##

[2021-11-02 16:11] JhonCordoba commented on #106
i have the same problem, please help

[2021-12-15 18:02] newk5 commented on #164
Thank you, I was having the same issues and the documentation misslead me too.

I noticed on the java side those calls were missing just like you said, but on the client side it's missing the public key too!
This javascript code:

[code]
Should be:
[code]

[2022-01-06 20:00] Ouxii opened #187 "Can I use this Library for my"

[2022-01-06 20:07] Ouxii opened #188 "Can I use it also in react?"
Hello!

I am curious if I can use this library also in react? I saw this tutorial: https://dev.to/marcushellberg/how-to-send-web-push-notifications-in-java-21lo but he is using vaadin project. If anyone know, I would appreciate the effort!

Thanks in advance.

[2022-01-06 20:17] #187 closed, assigned to nobody

[2022-02-02 14:03] fcamposdespegar opened #190 "Post request no pass through proxy when PushAsyncService is used."
When we was change PushService by PushAsyncService to send web push notification, we detected that request not pass thorugh proxy. Can you help us with this problem?

Java version: 11.0.12
Library version: 5.1.1

[2022-07-02 15:13] atkawa7 opened #195 "Invalid VAPID token: A value in the vapid claims is either missing or incorrectly specified"
When using this library I am getting `Invalid VAPID token`. This occurs randomly sometimes you won't get it at all. Sometimes you do.

[code]
The response I am getting is

[code]

[code]

[2022-07-02 16:52] atkawa7 commented on #195
Ended up copying the lib and changing the jose library to the common nimbus and those issues are now gone.

[2022-07-05 14:12] EriHuang commented on #106
i have the same problem, please help

[2022-07-19 21:35] luccotta opened #196 "Thread leak - too many open files"
Hello, I scheduled this service to be executed every 15 min in a new thread, to send 1 to 10 notifications on average. For each notification, I create a new `PushService` and call `pushService.send(notification)`. Is that ok? Should I be doing something differently like reusing the same PushService?

The threads are not getting terminated, eventually my server exceeds the maximum allowed open file

[2022-07-28 21:36] luccotta commented on #196
I found out that this is happening when the exception bellow happens. Every time it does, around 50 file descriptors are opened and never closed. I tried to test [this solution](https://github.com/web-push-libs/webpush-java/pull/62) which makes a lot of sense, but apparently it did not solve the issue.

[code]

[2022-07-31 13:09] aistomin commented on #195
@atkawa7 I have the same problem as you, but I'm not sure I understood your solution. "changing the jose library to the common nimbus" - did you change it in the source code and re-built the jar?

[2022-07-31 17:38] atkawa7 commented on #195
@aistomin Yes that's what I did. I think you only need to changed three or 4 lines and exception. Something along these lines

[code]

[2022-08-03 21:16] aistomin commented on #195
@atkawa7 sorry, one more question, did you use https://mvnrepository.com/artifact/com.nimbusds/nimbus-jose-jwt/9.23 ?

[2022-08-03 22:01] atkawa7 commented on #195
@aistomin Yes that's correct

[2022-08-18 12:51] chamallamudi-gopikrishna commented on #195
@atkawa7  Sorry, Please Provide code line where to use? I have same problem.  Especially imports

[2022-08-29 06:09] icycoolnss opened #197 "403 Forbidden issue on Chrome but working on Firefox"
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
HTTP/1.1 403 Forbidden [Content-Type: text/plain; charset=utf-8, X-Content-Type-Options: nosniff, X-Frame-Options: SAMEORIGIN, X-Xss-Protection: 0, Date: Mon, 29 Aug 2022 05:29:47 GMT, Conte

[2022-08-29 06:09] icycoolnss commented on #197
Tried even without payload still no luck :(

[2022-09-05 18:52] wwwAiru commented on #100
I tried using openjdk 13 and the problem went away, but I didn't understand why it throws an exception on jdk 17

[2022-09-23 06:48] umutawakil commented on #195
@atkawa7 Hi. Could you expand on your answer? Does this mean you removed the jwt code and replaced it with a 3rd party to generate the token? If so, do you know why the current code is not building a token Mozilla likes? I dont get the error you were getting with chrome but I do trying to push to the Firefox/Mozilla push service. I wonder what made this stop working

[2022-09-23 09:10] atkawa7 commented on #195
@umutawakil Yes that is correct. I removed [jose4j](https://bitbucket.org/b_c/jose4j/) and replaced it with [nimbus-jose-jwt](https://bitbucket.org/connect2id/nimbus-jose-jwt). @chamallamudi-gopikrishna

[code]

[2022-10-15 21:37] gregopet opened #198 "PushAsyncService start an HTTP client but provides no way to shut it down, leaving threads running"
When I create an instance of `PushAsyncService`, it automatically creates an `AsyncHttpClient` instance upon initialization. The client spawns some threads that prevent my whole application from shutting down (e.g. if a fatal configuration error was encountered).

If there was a `close()` or `stop()` method to call I would do so, but there is none and `httpClient` is private so I cannot access it

[2022-10-21 12:27] sbodmer commented on #195
I have the same problem, I tried with the solution explained using nimbus, here is the code
that I changed in AbstractPushService (and I adapted the rest for the JOSEException)...
It still works with chrome, but not with firefox. Is there something else to modify ?
[code]

The error in firefox is still a 401 (Invalid VAPID tokens: A value in the vapid claims is either missing or incorrectly specif

[2022-10-21 12:39] aistomin commented on #195
@sbodmer for me it turned out that the problem was not in the library at all. From experience I found out that Firefox requires `sub` parameter in the notification. When I started providing email as `sub` parameter "Invalid VAPID token" problem never happened to me with the latest version of the webpush-java.

[2022-10-21 12:41] sbodmer commented on #195
Bingo, I added the "sub" part and now it works, thanks a lot my friend ;^)
I read the spec and the "sub" is not mandatory...

[2022-10-21 12:55] aistomin commented on #195
@sbodmer I'm glad it helped.
[code]
Yes, [absolutely](https://datatracker.ietf.org/doc/html/draft-thomson-webpush-vapid#section-2.1). Looks like it's either a Firefox bug, or intentional violation of the protocol :)